//Default Colors

@white:rgb(255,255,255); 
@color1:rgb(204,255,255);/*ccffff hsl(180, 100%, 90%)*/
@color2:rgb(221,238,204);/*d3eecc hsl(108, 50%, 87%)*/
@color3:rgb(85,102,68); /*556644 hsl(90, 20%, 33%)*/
@color4:rgb(231,242,230);/*e7f2e6 hsl(115, 32%, 93%)*/
@color5:rgb(95,62,18);/*5f3e12 hsl(34, 68%, 22%)*/
@colorDark: rgb(29,29,29);
@colorLight: rgb(241,241,241);
@shadow:rgba(36, 36, 36,.3);
@borderColor: rgb(170,170,170);
@button:rgb(240,240,240);
@buttonBorder:rgb(170,170,170);


// Winter CSS 
//@color1:rgb(204,238,255);
//@color2:rgb(205,227,238);
//@color3:rgb(68,91,102);
//@color4:rgb(221,233,239);  
//@color5:rgb(17,69,95);

//Fall CSS
//@color1:rgb(255,152,0);
//@color2:rgb(163,60,0);
//@color3:rgb(255,112,0);  
//@color4:rgb(179,88,0);
//@color5:rgb(58,24,0);



//http://kuler.adobe.com/index.cfm#themeID/1855100 

//@color1:rgb(196,109,59);
//@color2:rgb(227,203,173);
//@color3:rgb(156,153,133);
//@color4:rgb(120,136,128);
//@color5:rgb(50,70,84);


//http://kuler.adobe.com/#themeID/1878614
//@color1:rgb(214,194,116);
//@color2:rgb(219,158,70);
//@color3:rgb(37,112,107);
//@color4:lighten(rgb(61,36,35),30%);
//@color5:rgb(171,54,46);


//http://kuler.adobe.com/#themeID/1607986
//@color1:rgb(188,0,25);
//@color2:rgb(222,78,78);
//@color3:rgb(0,0,90);
//@color4:rgb(163,209,250);
//@color5:rgb(94,147,229);




.downShadow(@color:@shadow){
  .shadowOut(0,6px,7px,-3px,@color);
}
.dropShadow(@color:@shadow){
  -webkit-box-shadow: -4px 7px 6px 0px @color;
  box-shadow: -4px 7px 6px 0px @color;
}
.oneEdgeShadow(@color:@shadow){
  .shadowOut(0,8px,6px,-6px,@color);
}
.textShadowIndent(@color:@shadow){
  text-shadow: 0 1px 1px @color;
}
.shadowIn (@x: 0, @y: 0, @blur: 1px,@distance:1px, @color: rgba(0,0,0,.8)) {
  box-shadow:inset @arguments;
  -moz-box-shadow:inset @arguments;
  -webkit-box-shadow:inset @arguments;
}
.shadowOutText (@x: 0, @y: 0, @blur: 1px, @color: rgba(0,0,0,.8)) {
  text-shadow: @arguments;
  -moz-text-shadow: @arguments;
  -webkit-text-shadow: @arguments;
}
.shadowOut (@x: 0, @y: 0, @blur: 1px,@distance:1px, @color: rgba(0,0,0,.8)) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}
.newShadow(){
    -webkit-box-shadow: 0 5px 10px @shadow;
    -moz-box-shadow: 0 5px 10px @shadow;
    box-shadow: 0 5px 10px @shadow;
}
.Animate(@time:200ms){
  -webkit-transition: all @time linear;
     -moz-transition: all @time linear;
      -ms-transition: all @time linear;
       -o-transition: all @time linear;
          transition: all @time linear;
}
.grow(@px:1.1){
  transform:scale(@px);
}
.Translate(@x:0,@y:0){
  transform:translate(@x,@y);
}
.softColor(@color){
  background: @color; /* Old browsers */
  background: linear-gradient(top, @color 0%,darken(saturate(@color,16%),5%) 100%); /* W3C */
}
.rotate(@deg){
  transform:rotate(@deg);
}




//Global adjustments
@color160:fadeout(@color1,40%);
@color260:fadeout(@color2,40%);
@color360:fadeout(@color3,40%);
@color460:fadeout(@color4,40%);
@color560:fadeout(@color5,40%);
@borderColor60: fadeout(@borderColor,40%);
@colorDark60:fadeout(@colorDark,40%);
@colorLight60: fadeout(@colorLight,40%);

/* Color 1 related items */
.color1{
  background: @color1;  
}
/* Color 2 related items */
.color2,.color260{
  background: @color2;
  a{
   color: @colorLight;  
  }
}
/* Color 3 related items */
.color3{
  background: @color3;
  color: @colorLight;
  a{
    color: @colorLight;
  }
}
.color3Circle{
  border:2px solid @color360;
  display:inline-block;
  height:1.1em;
  width:1.1em;
  text-align:center;
  color:@color3;
  .rounded-corners(10px);
}
/* Color 4 related items */
.color4,.mainBackground{
  background:@color4;
}
.color460{
  background:@color460;
}
.color4Soft{
  .softColor(@color4);
}
.color4TextGlow{
  text-shadow: @color4 0 0 2px;
}
.color4Border1{
  border:1px solid @color4;
}
/* Color 5 related items */
.color5{
  color:@colorLight;
  background:@color5;
}
.color560{
  color:@colorLight;
  background:@color560;
}
.color5TextGlow{
  text-shadow: @color5 0 0 2px;
}
.color5Circle{
  border:1px solid @color560;
  display:inline-block;
  height:1.1em;
  width:1.1em;
  text-align:center;
  color:@color5;
  .rounded-corners(1.1em);
}
.color5Circle:hover{
 .shadowOut (0,0,.2em,0em,@color5);  
}
