.smoothAnimate{-webkit-transition:all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);-moz-transition:all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);-ms-transition:all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);-o-transition:all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);transition:all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);-webkit-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);-moz-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);-ms-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);-o-transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);transition-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);}
.color1{background:#ccffff;}
.color2,.color260{background:#ddeecc;}.color2 a,.color260 a{color:#f1f1f1;}
.color3{background:#556644;color:#f1f1f1;}.color3 a{color:#f1f1f1;}
.color3Circle{border:2px solid rgba(85, 102, 68, 0.6);display:inline-block;height:1.1em;width:1.1em;text-align:center;color:#556644;border-radius:10px;-webkit-border-radius:10px;}
.color4,.mainBackground{background:#e7f2e6;}
.color460{background:rgba(231, 242, 230, 0.6);}
.color4Soft{background:#e7f2e6;background:-moz-linear-gradient(top, #e7f2e6 0%, #d3eed0 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7f2e6), color-stop(100%, #d3eed0));background:-webkit-linear-gradient(top, #e7f2e6 0%, #d3eed0 100%);background:-o-linear-gradient(top, #e7f2e6 0%, #d3eed0 100%);background:-ms-linear-gradient(top, #e7f2e6 0%, #d3eed0 100%);background:linear-gradient(top, #e7f2e6 0%, #d3eed0 100%);}
.color4TextGlow{text-shadow:#e7f2e6 0 0 2px;}
.color4Border1{border:1px solid #e7f2e6;}
.color5{color:#f1f1f1;background:#5f3e12;}
.color560{color:#f1f1f1;background:rgba(95, 62, 18, 0.6);}
.color5TextGlow{text-shadow:#5f3e12 0 0 2px;}
.color5Circle{border:1px solid rgba(95, 62, 18, 0.6);display:inline-block;height:1.1em;width:1.1em;text-align:center;color:#5f3e12;border-radius:1.1em;-webkit-border-radius:1.1em;}
.color5Circle:hover{box-shadow:0 0 0.2em 0em #5f3e12;-moz-box-shadow:0 0 0.2em 0em #5f3e12;-webkit-box-shadow:0 0 0.2em 0em #5f3e12;}
button,a.button,.button,.selectButton{cursor:pointer;padding:3px;white-space:nowrap;z-index:5;border:1px solid #aaaaaa;background-color:#f0f0f0;}
.roundAll2{border-radius:2px;-webkit-border-radius:2px;}
.roundAll3{border-radius:3px;-webkit-border-radius:3px;}
.roundBottom3{border-bottom-left-radius:3px;border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;}
.roundBottomLeft3{border-bottom-left-radius:3px;-webkit-border-bottom-left-radius:3px;}
.roundLeft3{border-bottom-left-radius:3px;border-top-left-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-top-left-radius:3px;}
.roundRight3{-webkit-border-bottom-right-radius:3px;-webkit-border-top-right-radius:3px;border-bottom-right-radius:3px;border-top-right-radius:3px;}
.roundBottomRight3{border-bottom-right-radius:3px;-webkit-border-bottom-right-radius:3px;}
.roundTop3{border-top-left-radius:3px;border-top-right-radius:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;}
.corners-top-left-3{border-top-left-radius:4px;-webkit-border-top-left-radius:4px;}
.corners-top-right-3{border-top-right-radius:4px;-webkit-border-top-right-radius:4px;}
body,html{margin:0px;padding:0px;height:105%;color:#1d1d1d;font-size:13px;}
a,a:hover,a:visited,a:focus{color:#5f3e12;text-decoration:none;font-weight:normal;}
h1,h2,h3,h4{margin:2px;color:#1d1d1d;text-align:left;font-family:sans-serif;}
h1{font-size:2.5em;font-weight:bold;color:#1d1d1d;}
h2{font-size:1em;color:#f1f1f1;line-height:.8em;font-weight:normal;}
.adgendaLink,.linkIcon{font-size:1.2em;margin-bottom:.1em;}
h3{font-size:2em;}
h4{font-size:1.8em;}
.insideBoxShadow{-webkit-box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);}
.insideBoxShadow ul{margin:0px;padding-left:3px;}
.insideBoxShadow ul li{padding:3px;}
.outSideBoxShadow,.divider{box-shadow:0 0 1px 1px rgba(36, 36, 36, 0.3);-moz-box-shadow:0 0 1px 1px rgba(36, 36, 36, 0.3);-webkit-box-shadow:0 0 1px 1px rgba(36, 36, 36, 0.3);}
.divider{width:85%;height:1px;margin:0 auto;background:rgba(36, 36, 36, 0.3);}
.boardMember{padding:5px;}.boardMember .name{font-size:1.2em;font-weight:bold;}
.mainArea{padding:125px 5px 20px 5px;background-color:#e7f2e6;-webkit-box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);min-height:600px;}
.mainBorder,.mainBorder60{border:1px solid #aaaaaa;}
.mainBorder60{border:1px solid rgba(170, 170, 170, 0.6);}
::-moz-selection{background:#ccffff;color:#1d1d1d;text-shadow:none;}
::selection{background:#ccffff;color:#1d1d1d;text-shadow:none;}
.siteMap{height:auto;}
.t{display:table;width:100%;}
.td{display:table-cell;vertical-align:top;}
.tr{display:table-row;}
.topHeader{position:fixed;top:0;left:0;right:0;width:100%;height:112px;padding:2px;z-index:50;}
.flexslider{border:none;border-radius:3px;-webkit-border-radius:3px;}
.flex-direction-nav li .next{right:-5px;}
.flex-direction-nav li .prev{left:-5px;}
.menuSelect{width:160px;overflow:hidden;height:25px;line-height:25px;text-align:center;}
.menuSelect a{white-space:nowrap;}
.topMenu{text-align:left;margin:0 auto;width:684px;background-position:center;font-family:sans-serif;font-weight:bold;line-height:19px;font-size:16px;}
li{list-style:none outside none;}
.banner{width:100%;display:block;position:relative;}
.navBoxes:nth-child(1){margin-top:0px;}
.navBoxes:nth-last-child(1){margin-bottom:0;}
.navBoxes{height:48px;width:auto;margin:2.5px 0 2.5px 0;background:#f1f1f1;position:relative;border-radius:3px;-webkit-border-radius:3px;vertical-align:middle;}.navBoxes a{box-shadow:inset 0 0 2px 1px rgba(95, 62, 18, 0);-moz-box-shadow:inset 0 0 2px 1px rgba(95, 62, 18, 0);-webkit-box-shadow:inset 0 0 2px 1px rgba(95, 62, 18, 0);text-align:center;line-height:48px;font-size:1.5em;height:48px;width:100%;display:block;}.navBoxes a:hover{box-shadow:inset 0 0 20px 10px rgba(95, 62, 18, 0.19999999999999996);-moz-box-shadow:inset 0 0 20px 10px rgba(95, 62, 18, 0.19999999999999996);-webkit-box-shadow:inset 0 0 20px 10px rgba(95, 62, 18, 0.19999999999999996);}
.item-list .views-row{margin:5px 0;}
.twitterImage{display:inline-block;float:left;height:64px;}
.navDisplay{margin-bottom:10px;height:307px;}
.region-menuheader{display:inline-block;width:100%;}.region-menuheader ul{width:100%;text-align:center;}
.region-menuheader .leaf{width:18%;display:inline-block;padding:0;text-align:center;}
.region-menuheader .first{margin:3px 0 0 8px;}
.helpLink{font-size:1.3em;}
.views-slideshow-cycle-main-frame-row *{border-radius:3px;-webkit-border-radius:3px;display:relative;}
.mainCatalogSearch{position:absolute;top:2px;right:2px;z-index:10;background:rgba(241, 241, 241, 0.6);}
form *{border:none;font-size:1em;position:relative;margin:0;}
input,select,input[type="submit"],input[type="text"]{color:#1d1d1d;height:18px;font-size:1em;background:rgba(255, 255, 255, 0.3);border-radius:3px;-webkit-border-radius:3px;border:1px solid #aaaaaa;vertical-align:top;line-height:normal !important;}
form #user-login-form{margin:1em;}
.sliderInfoBox{position:absolute;bottom:0;left:0;background:rgba(29, 29, 29, 0.4);overflow:hidden;color:#f1f1f1;width:100%;max-height:7em;}.sliderInfoBox a{color:#f1f1f1;}
.flex-control-nav{bottom:-0.1em;right:1em;width:auto;}
.flex-direction-nav .prev,.flex-direction-nav .next{background:rgba(29, 29, 29, 0.6);display:none;}
.list a{display:block;}
.locationHover{margin:.3em;}.locationHover:hover{cursor:default;}
.highlightSelect:after{content:"";position:absolute;background:#556644;height:100%;width:10px;top:0;right:0;box-shadow:4px 0 2px -2px rgba(36, 36, 36, 0.3);-moz-box-shadow:4px 0 2px -2px rgba(36, 36, 36, 0.3);-webkit-box-shadow:4px 0 2px -2px rgba(36, 36, 36, 0.3);}
.locationDisplay{min-height:146px;min-width:135px;}.locationDisplay div{margin:.3em;}
.dayBox{width:2.7em;height:2.4em;padding:1em 1em 1em .7em;position:relative;font-size:.8em;white-space:nowrap;}.dayBox .timeContainer{font-size:1.1em;position:absolute;bottom:2px;margin-bottom:0px;width:5em;white-space:nowrap;}
.socialContainer{height:3em;}.socialContainer .socialLinks a{font-size:3em;color:#1d1d1d;}
.socialLinks{opacity:.1;-webkit-transition:all 500ms linear;-moz-transition:all 500ms linear;-ms-transition:all 500ms linear;-o-transition:all 500ms linear;transition:all 500ms linear;}.socialLinks li{display:inline-block;position:relative;top:-6px;}
.socialMediaContainer{position:absolute;top:120px;left:3px;}
.facebook,.twitter,.googleplus,.youtube{padding:0;}.facebook a,.twitter a,.googleplus a,.youtube a{line-height:16px;display:block;-webkit-transition:all 500ms linear;-moz-transition:all 500ms linear;-ms-transition:all 500ms linear;-o-transition:all 500ms linear;transition:all 500ms linear;transform-origin:8px 16px;-webkit-transform-origin:8px 16px;z-index:50;}
.articleItem{position:relative;width:100%;padding:3px;margin-bottom:10px;min-height:150px;}
.field-content a[property*="label"]{padding:3px;margin:10px 15px 0 0;border-radius:3px;-webkit-border-radius:3px;-webkit-box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);position:relative;background:#f1f1f1;}.field-content a[property*="label"]:after{content:"";position:absolute;background:#556644;height:100%;width:10px;top:0;right:-0.7em;box-shadow:4px 0 2px -2px rgba(36, 36, 36, 0.3);-moz-box-shadow:4px 0 2px -2px rgba(36, 36, 36, 0.3);-webkit-box-shadow:4px 0 2px -2px rgba(36, 36, 36, 0.3);}
.articleItem:hover .socialLinks{opacity:.95;}
.user-picture img{height:40px;width:40px;}
.articleBox,.articleContainerBox,.containerBox,.bookBox{position:relative;background:#FFF;min-height:100px;}
.articleContainerBox,.deliciousContainer,.containerBox{padding:30px 5px 5px 5px;}
.articleEntryTitle{font-size:20px;width:500px;border-bottom:#1d1d1d solid 1px;margin-bottom:3px;}
.articleEntryTitle a{color:#556644;}
.articleEntryTitle a:hover{text-decoration:none;}
.articleEntryAuthor{font-size:10px;color:#1d1d1d;}.articleEntryAuthor img{height:24px;width:24px;}
.articleEntryDescription{width:600px;overflow:hidden;margin-bottom:10px;}
.topNav{width:940px;}
.logoImage{height:75px;width:68px;}
.secondNav{font-weight:bold;font-size:1.2em;position:relative;height:1.4em;}
.siteMap .secondNav{background:#e7f2e6;height:20px;}
.logoTree{max-height:75px;max-width:68px;}
.subPageHeader{font-size:50px;height:115px;padding:3px 3px 3px 10px;margin:0 5px 10px 5px;background:url('/sites/all/themes/lapcat/images/LaPorte_County_Public_Library.jpg') no-repeat;background-size:cover;background-position:0px;}.subPageHeader div{display:table-cell;vertical-align:middle;white-space:nowrap;height:90px;width:100%;}
.subPageHeader.Hours{background:url('http://maps.googleapis.com/maps/api/staticmap?center=41.609126,-86.721036&zoom=10&size=560x85&scale=2&sensor=false') no-repeat scroll -89px center;}
.subPageHeader.Downloads{background:url('/sites/all/themes/lapcat/images/downloadHeader.png') no-repeat;}
.subPageHeader.Research{background:url('/sites/all/themes/lapcat/images/researchHeader.png') no-repeat;}
.subPageCatalogSearch{position:absolute;right:5px;top:0;opacity:1;z-index:10;background:#E0E0E0;padding:3px;border-top-right-radius:3px;border-bottom-left-radius:3px;}
.secondNav a:hover,.firstNav a:hover,.eventFeedTitle a:hover{color:#1d1d1d;}
.hoverGlow,.hoverGlowText{-webkit-transition:all 300ms linear;-moz-transition:all 300ms linear;-ms-transition:all 300ms linear;-o-transition:all 300ms linear;transition:all 300ms linear;}
.hoverGlow:hover{box-shadow:0 0 2px 2px #5f3e12;-moz-box-shadow:0 0 2px 2px #5f3e12;-webkit-box-shadow:0 0 2px 2px #5f3e12;}
.hoverGlowText:hover{text-shadow:0 0 4px #5f3e12;-moz-text-shadow:0 0 4px #5f3e12;-webkit-text-shadow:0 0 4px #5f3e12;}
.locationBoxInfo{width:40%;float:left;}
.locationBoxMap{width:60%;float:left;}.locationBoxMap a{background-position:50%;}
.centerBox{margin:0 auto;width:918px;}
.topHeader{position:fixed;top:0;left:0;right:0;width:100%;height:112px;padding:2px;z-index:100;}
li{list-style:none outside none;}
.bookTitle{margin-bottom:0px;}
#container{position:relative;z-index:10;}
.twitterBox,.twitterContainer,.deliciousBox{position:relative;width:100%;background:#FFF;}
.mainContentBox{background:#FFF;height:436px;margin-right:10px;position:relative;width:100%;}
#greatPicksContainerBox .rssItem img{width:100px;}
.blogBox,.blogContainerBox,.containerBox,.bookBox,.box,body{background:#f1f1f1 url("images/grey.png");min-height:100px;position:relative;}
.blogContainerBox,.containerBox{margin-bottom:1em;padding:30px 5px 5px 5px;}
.subTitleElement a{display:inline-block;margin-left:3px;}
.subTitleElement a.selected{margin-left:3px;}
.twitterFeedTitle,.mainContentTitle,.blogTitle,.eventFeedTitle,.titleElement{cursor:pointer;padding:6px;position:absolute;top:60px;right:18px;white-space:nowrap;box-shadow:0 0 6px rgba(0, 0, 0, 0.3);z-index:5;}
.twitterFeedTitle,.blogTitle,.titleElement{left:0px;right:auto;top:-5px;width:auto;}
.twitterList{width:100%;}.twitterList li{width:100%;display:block;min-height:50px;}
.titleElement a{color:#F1F1F1;}
.titleElement a:hover,.subTitleElement a:hover{text-decoration:none;}
.eventFeedTitle{left:350px;right:350px;width:auto;top:3px;text-align:center;}
.view-tweets ul li{display:inline-block;}
.mainContentTitle{right:525px;top:-5px;}
.middleSectionScroll{display:inline-block;width:10px;height:10px;background-color:rgba(255, 255, 255, 0.4);border:solid 1px rgba(255, 255, 255, 0.6);cursor:pointer;margin:2px;}
.middleSectionScroll:hover{background-color:rgba(132, 185, 189, 0.4);border:solid 1px rgba(132, 185, 189, 0.6);}
.blogTitle a:hover,.twitterFeedTitle a:hover,.deliciousFeedTitle a:hover{text-decoration:none;}
.secondNav a,.firstNav a{color:#000;}
.delItem .delFavIcon{display:inline-block;height:16px;width:16px;margin-right:3px;}
.deliciousContainer{padding:25px 5px 5px 5px;width:300px;}
.rssItem{padding:3px 40px 3px 10px;}
.menuDropDown a{content:"Menu";font-size:1.5em;}
.sprite{background-image:url("/images/csg-4f7079e61a6bf.png");}
.childWholePage{background:#26a3ff;background:-webkit-radial-gradient(20px 36px, circle cover, #ffffff 0%, #26a3ff 100%);background:-ms-radial-gradient(20px 36px, circle cover, #ffffff 0%, #26a3ff 100%);background:-moz-linear-gradient(top, #ffffff 0%, #26a3ff 100%);background:radial-gradient(20px 36px, circle cover, #ffffff 0%, #26a3ff 100%);}
.childrenTree{z-index:1;background-size:contain;position:absolute;bottom:48px;right:-5%;height:31em;width:29em;}
.childrenSun{position:absolute;background-size:contain;left:-43px;top:36px;width:400px;height:400px;-webkit-animation:spinSun 30s infinite linear;-moz-animation:spinSun 30s infinite linear;-ms-animation:spinSun 30s infinite linear;-o-animation:spinSun 30s infinite linear;animation:spinSun 30s infinite linear;}
.childrenGrass{width:100%;z-index:1;position:relative;background-position-y:0;height:98px;}
#pageHeader{margin-bottom:15px;}
.element-invisible{display:none;}
.view-genealogy-collection-links{background:url("/sites/all/themes/lapcat/images/belleGunness.png") bottom right no-repeat;min-height:150px;}
footer{z-index:20;height:17em;position:absolute;width:100%;}footer *{vertical-align:top;}
footer h3{text-shadow:0px 2px 4px #5f3e12,0 0 0 #000000,0px 2px 4px #5f3e12;color:#1d1d1d;color:rgba(0, 0, 0, 0.3);}
footer .socialLinks{opacity:.9;font-size:3em;height:1.3em;}footer .socialLinks a{text-shadow:0px 2px 4px #5f3e12,0 0 0 #000000,0px 2px 4px #5f3e12;color:rgba(0, 0, 0, 0.3);}
footer .footerLeft{width:80%;float:left;}
footer .footerRight{width:20%;float:right;}
footer #search-block-form{-webkit-box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);box-shadow:inset 0 0 1px 1px rgba(36, 36, 36, 0.3);background:rgba(0, 0, 0, 0.3);margin:5px;margin-bottom:10px;padding:.3em;width:14em;border-radius:3px;-webkit-border-radius:3px;}footer #search-block-form .form-actions{float:right;}
footer #search-block-form .form-text{width:10em;}
footer #search-block-form input{color:#1d1d1d;height:1.5em;background:rgba(255, 255, 255, 0.3);border-radius:3px;-webkit-border-radius:3px;border:none;}
footer #pageLinks li{font-size:1.3em;padding:3px;}footer #pageLinks li a{color:rgba(241, 241, 241, 0.6);}
@keyframes spinSun{0%{transform:rotate(0);} 100%{transform:rotate(360deg);}}@-ms-keyframes spinSun{0%{transform:rotate(0);} 100%{transform:rotate(360deg);}}@-moz-keyframes spinSun{0%{-moz-transform:rotate(0);} 100%{-moz-transform:rotate(360deg);}}@-webkit-keyframes spinSun{0%{-webkit-transform:rotate(0);} 100%{-webkit-transform:rotate(360deg);}}
