@import url("colors.less");
@import url("buttons.less");
@import url("roundCorners.less");

html{
  font-size:81.25%;
  line-height:1.4em;
}
body,html {
  margin:0px;
  padding:0px; 
  height:105%;
  color:@colorDark;
}
a,a:visited,a:focus { color: @color5; text-decoration:none;font-weight:normal;}

h1,h2,h3,h4{
  margin:2px;
  color:@colorDark;
  text-align: left;
  font-family:sans-serif;
  line-height:100%;
  font-weight: bold;
}
h1 { 
  font-size: 2.5em;
}
h2 {
  font-size: 1em;
  line-height:.8em;
  font-weight:normal;
  color:@colorLight;
}
h3 {font-size: 2em;}
h4 {font-size: 1.8em;}
.adgendaLink,.linkIcon{
  font-size:1.2em;
  margin-bottom:.1em;
}






/* Color 1 related items */
.color1{
  background: @color1;  
}
/* Color 2 related items */
.color2,.color260{
  background: @color2;
  a{
   color: @colorLight;  
  }
}
/* Color 3 related items */
.color3{
  background: @color3;
  color: @colorLight;
  a{
    color: @colorLight;
  }
}
.color3Circle{
  border:2px solid @color360;
  display:inline-block;
  height:1.1em;
  width:1.1em;
  text-align:center;
  color:@color3;
  .rounded-corners(10px);
}
/* Color 4 related items */
.color4,.mainBackground{
  background:@color4;
}
.color460{
  background:@color460;
}
.color4Soft{
  .softColor(@color4);
}
.color4TextGlow{
  text-shadow: @color4 0 0 2px;
}
.color4Border1{
  border:1px solid @color4;
}
/* Color 5 related items */
.color5{
  color:@colorLight;
  background:@color5;
}
.color560{
  color:@colorLight;
  background:@color560;
}
.insideBoxShadow{
  box-shadow: inset 0 0 1px 1px @shadow;
}
.insideBoxShadow ul{
  margin:0px;
  padding-left:3px;
}
.insideBoxShadow ul li{
  padding:3px;
}
.outSideBoxShadow,.divider{
  .shadowOut(0,0,1px,1px,@shadow);
}
.divider{
  width:85%;
  height:1px;
  margin:0 auto;
  background:@shadow;
}
.boardMember{
  padding:5px;
  .name{
    font-size:1.2em;
    font-weight:bold;
  }
}

.mainArea{
  padding:8.4em 5px 20px 5px;
  background-color:@color4;
  box-shadow: inset 0 0 1px 1px @shadow;
  min-height:600px;
}
.mainBorder,.mainBorder60{
  border: 1px solid @borderColor;
}
.mainBorder60{
  border: 1px solid @borderColor60;
}

::-moz-selection { background: @color1; color: @colorDark; text-shadow: none; }
::selection { background: @color1; color: @colorDark; text-shadow: none; }

.siteMap{
  height:auto;
}

.t{display:table; width:100%;}
.td{display:table-cell;vertical-align: top;}
.tr{display:table-row;}

/*
 * All layouts
 *  
 */

.topHeader {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 112px;
  padding: 2px; 
  z-index: 50; 
}


aside {
  .video-js{
   width:290px;
   overflow:hidden; 
  }
  .view-content .skin-default{
    margin-left:25px;
    img{
      .newShadow();
    }
  } 
}

video,.video-js{
  .rounded-corners(3px);
  margin-bottom:10px;
}

.menuSelect {
  width: 160px;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.menuSelect a {
  white-space: nowrap;
}
.topMenu {
  text-align: left;
  margin: 0 auto;
  width: 684px;
  background-position: center;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 19px;
  font-size: 16px;
}
li {
  list-style: none outside none;
}
.banner{
  width:            100%;
  display:          block;
  position:         relative;
}

.navBoxes:nth-child(1){
  margin-top:       0px;
}
.navBoxes:nth-last-child(1){
  margin-bottom:    0;
}
.bookCoverImage {
  img{.rounded-corners(3px);}
  //a:hover{border:none;}
}
.navDisplay{
  height:307px;
  position:relative;
  .navBoxGroup{
    position:absolute;
    width: 12em;
    padding-left: 0.2em;
    .navBoxes{
      .lp-Buttons() 
    }  
  }
}

.item-list .views-row{
 margin: 5px 0;
}


.region-menuheader{
  display:inline-block;
  width:100%;
  float:none;
  ul{
    width:            100%;
    text-align:       center;
    display:          table;
  }
  .leaf{
    width:            17%;
    display:          table-cell;
    padding:0;
    text-align:center;
  }
  .first{
    margin:3px 0 0 8px;
  }
}

//.helpLink{
//  font-size:1.3em;
//}

.views-slideshow-cycle-main-frame-row *{
  border-radius:          3px;
  display:relative;
}
.mainCatalogSearch{
  position:         absolute;
  top:              2px;
  right:            2px;
  z-index:          10;
  background:@colorLight60;
}
 
form *{
  border:           none;
  font-size:        1em;
  position:         relative;
  margin:           0;
}
input,select,input[type="submit"], input[type="text"] {
  color:@colorDark;
  font-size:1em;
  background: rgba(255, 255, 255, 0.3);
  border:1px solid @buttonBorder;
  vertical-align:top;
  padding:.2em;
} 
form #user-login-form{
  margin:1em;
}

.sliderInfoBox{
  position:absolute;
  bottom:0;
  left:0;
  background:fadeout(@colorDark,60%);
  overflow:hidden;
  color:@colorLight;
  width:100%;
  max-height:7em;
  a{
    color:@colorLight;  
  }
}
/*Slider CSS*/

.flexslider{
.flex-direction-nav{display:none;}
  border:none;
  margin:none;
  .rounded-corners(3px); 
  .flexslider_views_slideshow_slide{
    transform: translateZ(0);
    .rounded-corners(3px);
    img{
      .rounded-corners(3px);
    }
  }
  .flex-caption:not(:empty) {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(241, 241, 241);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 1.6em;
    line-height: 1.1em;
    font-size: 1.1em;
    padding-top: 0.9em;
    text-transform:capitalize;
  }
} 
.flexslider-views-slideshow-main-frame{
  li{
    display:block;
    position:absolute;
    top:0;
    left:0;
  }
}
/*Flex Slider */
.flex-direction-nav{
  .prev,.next{
    background:@colorDark60;
    display:none;
  }
}
.flex-control-nav {
  bottom:-.1em;
  right:1em;
  width:51px;
  z-index:10;
  display:block;
 li {
   a {
     .Animate();
     .rounded;
     background:@color4;
     height:1em;
     width:1em;
   }
   a.active {
       background:@color3;
   }
 } 
}
.list {
  a{
    display:block;
  }
}

/* Locations  */
.locationHover{
  margin:       .3em;
  &:hover{
    cursor:default;
  }
}

.locationDisplay{
  min-height:146px;
  min-width:135px;
  font-size:1.1rem;
  div{
    margin:.3em;
  }
} 

.dayBox {
  width: 2.7em;
  height: 2.4em;
  padding: 1em 1em 1em .7em;
  position: relative;
  font-size:.8em;
  white-space:nowrap;
  .timeContainer {
    font-size: 1.1em;
    position: absolute;
    bottom: 2px;
    margin-bottom: 0px;
    width:5em;
    white-space:nowrap;
  }
}
.closedDate{
  padding-left:25px;
  .timerContainer{
    left:4px;
  }
  .dayBox{
    display:inline-block;
    width:6em;
    height:4.8em;
    margin-bottom:.7em;
    span:nth-child(1){font-size:2.4em;}
    span:nth-child(2){font-size:2.1em;}
    span:nth-child(3){font-size:2.3em;}
  }
}
.closedDate.catalog{
  padding-left:.5em;
  .dayBox{
    height:3.5em;
    width:6.9rem;
    background-color:@button;
    border:1px solid @buttonBorder;
    a{
      color:@colorDark;
    }
  }
}
.socialContainer{
  height:3em;
  .socialLinks{
    a{
      font-size:3em;
      color:@colorDark;
    }  
  } 
} 

/* Articles */

.socialLinks{
  opacity:.1;
  .Animate(500ms);
  li{
    display:inline-block;
    position:relative;
    top:-6px;
  }
}

.socialMediaContainer{
  position:relative;
  top:8px;
  left:0;
}
  
.facebook,.twitter,.googleplus,.youtube{
    padding:0;
    a{
      display:block;
      transform-origin: 8px 16px;
      z-index:50;
  }
}

.articleItem{
  position:relative;
  width:100%;
  padding:3px;
  margin-bottom:10px;
  min-height:150px;
}
.field-content a[property*="label"],.tagStyle,.highlightSelect{/*These are tags on items*/
  transform: translateZ(0);
  padding:3px;
  margin:10px 15px 0 0;
  .rounded-corners(3px 0 0 3px);
  box-shadow: inset 0 0 1px 1px @shadow;
  position:relative;
  background:fadeout(@colorLight,95%);
  &:after{
    content:"";
    position:absolute;
    background:@color3;
    height:100%;
    width:.76rem;
    top:0;
    left:97%;
    .shadowOut(4px,0,2px,-2px,@shadow);
  }
}
    
.tagStyle{
  background:fadeout(@colorDark,90%);
  cursor:default;
  &:after{
    background:@color5;
  }
}

.highlightSelect{
  .Animate();
  cursor:default;
  display:none;
  position:absolute;
  top:0;
  left:0;
  background:fadeout(@colorLight,95%);
  position:absolute;
  margin:0;
  padding:0;
}
.highlightSelect:after{
  content:"";
  position:absolute;
  background:@color3;
  height:100%;
  width:.76rem;
  top:0;
  left:97%;
  .shadowOut(4px,0,2px,-2px,@shadow);
}


.articleItem{
  .socialLinks{
    > li {
      .Animate(200ms);
      .Translate(0,102%);
    }
    &:hover{
     // height:2rem;
      > li {
       .Translate(0,0);
      }
    }
    position:absolute;
    top:-3px; 
    height:1.5rem;
    opacity:1;
    line-height:1;
    overflow:hidden;
    li{
      line-height:1;
      top:auto;
      font-size:1.5em;
      padding:1px;
    }
  }
} 
.articleItem .socialLinks .facebook{
  margin-left:2.2em;
}
.user-picture img{
  height:40px;
  width:40px;
}

  .articleBox,.articleContainerBox,.containerBox,.bookBox{
  position:relative;
  background:#FFF;
  min-height:100px;
}

.articleContainerBox,.deliciousContainer,.containerBox{
  padding:30px 5px 5px 5px;
}
.articleEntryTitle{
  font-size:1.5em;
  width:38rem;
  border-bottom:@colorDark60 solid 1px;
  margin-bottom:3px;
}
.articleEntryTitle a{
  color:@color3;
}
.articleEntryTitle a:hover{text-decoration:none;}
.articleEntryAuthor{
  font-size:10px;
  color:@colorDark;
  img{
    height:24px;
    width:24px;
  }
}
.articleEntryDescription{
  width:600px;
  overflow:hidden;
  margin-bottom:10px;
}


.topNav{
  width:940px;
}
.logoImage{
  height:75px;
  width:68px;
}
.secondNav{
  font-weight:bold;
  font-size:1.2em;
  position:relative;
  height:1.4em;
  
}
.siteMap .secondNav{
  background:@color4;
  height:20px;
}

.logoTree{
  max-height:75px;
  max-width:68px;
}
.gitarBoy{
  background: url('/sites/all/themes/lapcat/images/gitarBoy.svg') no-repeat;
  background-size: 100%;
  height: 7em;
  width: 3em;
  position: absolute;
  right: 9em;
  bottom: 2em;
  z-index: 10;
  filter: @dropShadowFilter; 
}
.gitarBoy:hover + .oval-thought-border{
  /*
  animation:fadeIn ease-in 1;
  animaon-fill-mode:forwards;
  animation-duration:.3s;
  */
 opacity:1;
}

.pageTitle{
  filter: @dropShadowFilter;  
} 
.subPageHeader{
  font-size:50px;
  height:8.846rem;
  padding:3px 3px 3px 10px;
  margin:0 5px 10px 5px;
  background: url('/sites/all/themes/lapcat/images/LaPorte_County_Public_Library.jpg') no-repeat;
  background-size:cover;
  background-position:0px;
  div{
    display:table-cell;
    vertical-align:middle;
    white-space:nowrap;
    height:90px;
    width:100%;
  }
  /*Sub page headers*/
  &.Articles{
    background:url('/sites/all/themes/lapcat/images/articlesHeader.jpg');
    background-size:100% 121%;
  }
  &.Downloads{
    background:url('/sites/all/themes/lapcat/images/downloadHeader.png');
  }
  &.Employment{
    background:url('/sites/all/themes/lapcat/images/employmentHeader.jpg');
    background-size:100% 171%;
    background-position-y:27%;    
  }
  &.Genealogy,&.Belle.Gunness {
    background:url('/sites/all/themes/lapcat/images/genealogyHeader.jpg');
  }
  &.Help,&.How.do.I{
    background:url('/sites/all/themes/lapcat/images/helpHeader.jpg');
  }
  &.Hours{
    background:url('/sites/all/themes/lapcat/images/hoursHeader.png') scroll -89px center;  
  }
  &.Request{
    background:url('/sites/all/themes/lapcat/images/requestHeader.jpg');
  }
  &.Research{
    background:url('/sites/all/themes/lapcat/images/searchHeader.jpg');
  }
  &.Teens{
    background:url('/sites/all/themes/lapcat/images/teenHeader.jpg') white;
  }
  /*Sub page headers End*/
}


/*Newest Books*/
.newestSlideWrapper{
  width: auto; 
  display: block;
  height:300px;
  white-space: nowrap; 
  overflow: hidden;
  section {
    div { overflow: hidden; white-space: normal; display:inline;}
    width:300px; height: 300px; display: inline-block; vertical-align: top;
  }
}
    
div[class*="view-new"][class*="-books"],div[class*="view-new"][class*="-slider"] {
  div{
    a{
      height:11rem;
      width:7.22rem;
      img{
       width:7rem;
       verticle-align:top;
       .rounded-corners(.1875rem);
       display:inline-block;
      }
    }
    .summary{
      display:none;
    }
  }
}


.scrollerBack,.scrollerNext{
  .lp-Buttons(2.6em);
}

div.more-link{
  display:inline-block;
  .lp-Buttons(2em);
  a{
    padding:.5em;
    width:auto;
    line-height:50%;
  }
}

ul.pager{
  display:block;
  li.pager-current{
    padding:0 .666em;
    white-space:nowrap;
  }
  li[class*=pager]{
    width:7em;
    min-width:1em;
    display:inline-block;
    .lp-Buttons(2.6rem);
    margin-left:-2px; //tweek to fake a toolbar
    margin-right:-2px;
    a{
      width:6em;
    }
  }
}



.locationBoxInfo{
  width:40%;
  float:left 
}


.locationBoxMap{
  width:60%;
  float:left;
  a{
    background-position:50%;
    max-width:400px;
    display:block;
    background-size:cover;
    margin-right:5px;
    height:300px;
    width:100%;
  }
  .coolSprings{background-image:url('/sites/all/themes/lapcat/images/coolSpringMap.png');}
  .fishLake{background-image:url('/sites/all/themes/lapcat/images/fishLakeMap.png');}
  .hanna{background-image:url('/sites/all/themes/lapcat/images/hannaMap.png');}
  .mainLibrary{background-image:url('/sites/all/themes/lapcat/images/mainLibraryMap.png');}
  .kingsfordHeights{background-image:url('/sites/all/themes/lapcat/images/kingsfordHeightsMap.png');}
  .rollingPrairie{background-image:url('/sites/all/themes/lapcat/images/rollingPrairieMap.png');}
  .unionMills{background-image:url('/sites/all/themes/lapcat/images/unionMillsMap.png');}
  
}
.centerBox{
  margin:0 auto;
  width:918px;
}
.topHeader{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:112px;
  padding:2px;
  z-index:100;
  transform: translateZ(0);
}
li{
  list-style: none outside none;
}

.bookTitle{
  margin-bottom:0px;
}

#container{
  position:relative;
  z-index:10;
}

.twitterBox,.twitterContainer,.deliciousBox{
  position:relative;
  width:100%;
  background:#FFF;
}
.mainContentBox{
  background:#FFF;
  height:436px;
  margin-right:10px;
  position:relative;
  width:100%;
}
#greatPicksContainerBox .rssItem img{
  width:100px;
}
.blogBox,.blogContainerBox,.containerBox,.bookBox,.box,body{
  background:        @globalBackground;
  min-height:        100px;
  position:          relative;
}
.blogContainerBox,.containerBox {
  margin-bottom:    1em;
  padding:          30px 5px 5px 5px;
}


/**
 * Title and Button elements  
 * 
 */
.subTitleElement a{
  display:inline-block;
  margin-left:3px;
}
.subTitleElement a.selected{
  margin-left:3px;
}
.twitterFeedTitle,.mainContentTitle,.blogTitle,.eventFeedTitle,.titleElement{
  cursor:pointer;
  padding:6px;
  position:absolute;
  top:60px;
  right:18px;
  white-space: nowrap;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  z-index:5;
}

.twitterFeedTitle,.blogTitle,.titleElement{
  left:0px;
  right:auto;
  top:-5px;
  width:auto;
}
.twitterList{
  width:100%;
  li{
    width:100%;
    display:block;
    min-height:50px;
  }
}
.titleElement a{
  color: #F1F1F1;
}
.titleElement a:hover,.subTitleElement a:hover{
  text-decoration:none;
}
.eventFeedTitle{
  left:350px;
  right:350px;
  width:auto;
  top:3px;
  text-align:center;
}

.view-tweets ul li{display:inline-block;}
.view-tweets{
  .views-row{
    font-size:        .9em;    
  }
  .twitterImage{
    display:          inline-block;
    float:            left;
    height:           6.2em;  
  }
}
.view-header{
  font-size: 1.1em;
  margin: .3em;
}



.mainContentTitle{
  right:525px;
  top:-5px;
}
.middleSectionScroll{
  display:inline-block;
  width:10px;
  height:10px;
  background-color:rgba(255,255,255,.4);
  border:solid 1px rgba(255,255,255,.6);
  cursor: pointer;
  margin:2px;
}
.middleSectionScroll:hover{
  background-color:rgba(132,185,189,.4);
  border:solid 1px rgba(132,185,189,.6);
}

.blogTitle a:hover,.twitterFeedTitle a:hover,.deliciousFeedTitle a:hover{text-decoration:none;}
.secondNav a,.firstNav a{color:#000;}

.delItem .delFavIcon{
  display:inline-block;
  height:16px;
  width:16px;
  margin-right:3px;
}
.deliciousContainer{
  padding:25px 5px 5px 5px; 
  width:300px;
}
.rssItem{
  padding:3px 40px 3px 10px;

}
.menuDropDown a{content:"Menu";font-size:1.5em;}

/*Teen*/

.imageGrid{
  li{
    display:inline-block;
    div{
      img{
        height:7em;
        display:block;
        padding-right: .8em;
        .rounded-corners();
      }
    }
  }
}




.oval-thought-border {
  .rounded-corners(2rem);
  border: 2px solid @color2;
  position: absolute;
  width: 5em;
  background: @colorLight60;
  right: 13rem;
  bottom: 10rem;
  z-index: 10;
  height: 3rem;
  font-size: 2rem;
  line-height: 3rem;
  padding-left: 1em;
  opacity:0;
  .Animate();
}

/* creates the larger circle */
.oval-thought-border:before {
  content: "";
  position: absolute;
  z-index: 10;
  border: 2px solid @color2;
  background: @colorLight60;
  .rounded-corners(10px);
  display: block;
  top: 1.9em;
  right: -21px;
  height: 15px;
  width: 15px;
}
/* creates the smaller circle */
.oval-thought-border:after {
  content: "";
  position: absolute;
  z-index: 10;
  border: 2px solid @color2;
  background: @colorLight60;
  .rounded-corners(20px);
  display: block;
  top: 1.3em;
  right: -9px;
  height: 20px;
  width: 20px;
}


/*sprite Code*/
.sprite{background-image:url("/images/csg-4f7079e61a6bf.png");}

/*Children*/
.childWholePage{
  background: rgb(38,163,255); /* Old browsers */
  background:radial-gradient(circle at 20px 36px,  rgb(255,255,255) 5%,rgb(38,163,255) 100%)
}
.childrenTree{
  z-index:-1;
  background-size:contain;
  position:relative;
  bottom:2em;
  right:-5%;
  height:31em;
  width:29em;
  background-image: url('/sites/all/themes/lapcat/images/treeLarge.png');
  background-repeat:no-repeat;
  filter: @dropShadowFilter;
}  
.childrenSun{
  position:absolute;
  background-size:contain;
  left:-43px;
  top:36px;
  width: 400px;
  height: 400px;
  animation: spinSun 60s infinite linear;
}

.childrenGrass{
  width:100%;
  position: relative;
  background-position-y:0;
  height:98px;
  filter: @dropShadowFilter;
}
/*Global tweeks*/
#pageHeader{
  margin-bottom:15px;
}
.element-invisible{display:none;}
.supPageHeader{
  margin-bottom:10px;
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
  .spc-Search{
    width:29%;
    position:absolute;
    right:5px;
    top:0;
    opacity:1;
    z-index: 10;
    background:#E0E0E0;
    padding:3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .Animate(1000ms);
  }
  .spc-SearchBox{
    width:100%;
    input{
      width:100%;
    }
  }
  .spc-Submit{
    
  }
  .spc-SearchBox input:focus ~ .spc-Type{
    overflow:hidden;
    width:0;
    display:inline-block;
  }
}





footer {
  z-index:20;
  height:17em;
  position:absolute;
  width:100%;
  * { vertical-align:top; }
  h3{
    text-shadow:0px 2px 4px @color5, 0 0 0 #000, 0px 2px 4px @color5;
    color:@colorDark;
    color:rgba(0,0,0,.3); 
  }
  .socialLinks{
    margin-top:2em;
    margin-bottom:.5em;
    li{
      width:3.615em;
    }
    opacity:.9;
    height:auto;
    a{
      text-shadow:0px 5px 4px @color5, 0 0 0 #000, 0px 2px 4px @color5;
      color:rgba(0,0,0,.3);
      font-size:3.615em;
      .Animate();
      &:hover{
        text-shadow:0px 0px 4px @color5, 0 0 0 #000, 0px 2px 4px @color5;
      }
    }  
  }
  .footerLeft,.footerRight{
    margin:0 2em;
  }
  .footerLeft {
    width:22em;
    float:left;
  }
  .footerRight {
    width:18em;
    float:right;
  }
  #search-block-form{
    box-shadow: inset 0 0 1px 1px @shadow;
    background:rgba(0,0,0,.3);
    margin:5px;
    padding:.3em;
    width:14em;
    font-size:1.1em;
    .form-submit{
      height:1.9em;
    }
    .form-actions{
      float:right;
    }
    .form-text{
      width:10em;
    }
    .rounded-corners(3px);
    input{
      color:@colorDark;
      height:1.5em;
      background: rgba(255, 255, 255, 0.3);
      .rounded-corners(3px);
      border:none;
    }
  } 
  #pageLinks li{
    font-size:1.3em;
    padding:3px;
    a{ color:@colorLight60; }
  }
}



/*Animations*/
@keyframes spinSun {  
  0% { transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


/*Bug fixes*/
  
.grid_24{
  margin-left:0px;
  margin-right:0px;
}
//this allows for the bullet points to show on ULs
.field-type-text-with-summary {
  ul{
    list-style-type:square;
    li{
      list-style:square inside;
    }
  }
  
}
/*Testing something*/


[class^="icon-"], [class*=" icon-"] {font-family:"lpcpl";background:none;width:auto;height:auto;font-style:normal}
.icon-facebook:before{content:'F'}
.icon-facebookalt:before{content:'f'}
.icon-youtube:before{content:'Y'}
.icon-twitter:before{content:'t'}
.icon-googleplus:before{content:'p'}
.icon-info-sign:before{content:'\f315';color:@color5;}
.icon-zoom-in:before{content:'z';color:@color560;}

.icon-automobile-car:before{content:'e'}
.icon-bus:before{content:'c'}