@import url("colors.less");
@import url("buttons.less");
@import url("roundCorners.less");

body,html {
  margin:0px;
  padding:0px; 
  height:105%;
  color:@colorDark;
  font-size:13px;
}
a,a:hover,a:visited,a:focus { color: @color5; text-decoration:none; font-weight:normal;}


h1,h2,h3,h4{
  margin:2px;
  color:@colorDark;
  text-align: left;
  font-family:sans-serif;
}
h1 { 
  font-size: 2.5em;
  font-weight: bold;
  color:@colorDark;
}
h2 {
  font-size: 1em;
  color: @colorLight;
  line-height:.8em;
  font-weight:normal;
}
.adgendaLink,.linkIcon{
  font-size:1.2em;
  margin-bottom:.1em;
}
  
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.8em;
}

.insideBoxShadow{
  -webkit-box-shadow: inset 0 0 1px 1px @shadow;
  box-shadow: inset 0 0 1px 1px @shadow;
}
.insideBoxShadow ul{
  margin:0px;
  padding-left:3px;
}
.insideBoxShadow ul li{
  padding:3px;
}
.outSideBoxShadow,.divider{
  .shadowOut(0,0,1px,1px,@shadow);
}
.divider{
  width:85%;
  height:1px;
  margin:0 auto;
  background:@shadow;
}
.boardMember{
  padding:5px;
  .name{
    font-size:1.2em;
    font-weight:bold;
  }
}

.mainArea{
  padding:125px 5px 20px 5px;
  background-color:@color4;
  -webkit-box-shadow: inset 0 0 1px 1px @shadow;
  box-shadow: inset 0 0 1px 1px @shadow;
  min-height:600px;
}
.mainBorder,.mainBorder60{
  border: 1px solid @borderColor;
}
.mainBorder60{
  border: 1px solid @borderColor60;
}

::-moz-selection { background: @color1; color: @colorDark; text-shadow: none; }
::selection { background: @color1; color: @colorDark; text-shadow: none; }

.siteMap{
  height:auto;
}

.t{display:table; width:100%;}
.td{display:table-cell;vertical-align: top;}
.tr{display:table-row;}

/*
 * All layouts
 *  
 */

.topHeader {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 112px;
  padding: 2px; 
  z-index: 50; 
}

/*Slider CSS*/

.flexslider{border:none; .rounded-corners(3px);} 
.flex-direction-nav li .next{
  right:-5px;
}
.flex-direction-nav li .prev{
  left:-5px;
}

aside {
  .video-js{
   width:290px;
   overflow:hidden; 
  }
  .view-content .skin-default{
    margin-left:25px;
    img{
      .newShadow();
    }
  } 
}

video,.video-js{
  .rounded-corners(3px);
  margin-bottom:10px;
}

.menuSelect {
  width: 160px;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.menuSelect a {
  white-space: nowrap;
}
.topMenu {
  text-align: left;
  margin: 0 auto;
  width: 684px;
  background-position: center;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 19px;
  font-size: 16px;
}
li {
  list-style: none outside none;
}
.banner{
  width:            100%;
  display:          block;
  position:         relative;
}

.navBoxes:nth-child(1){
  margin-top:       0px;
}
.navBoxes:nth-last-child(1){
  margin-bottom:    0;
}
.navBoxes{
  height:           48px;
  width:            auto;
  margin:           2.5px 0 2.5px 0;
  background:       @colorLight;
  position:         relative;
  border-radius:    3px;
  -webkit-border-radius:     3px;
  vertical-align:   middle;
  a{
    .shadowIn(0,0,2px,1px,fadeout(@color5,100%));
    text-align:       center;
    line-height:      48px;
    font-size:        1.5em;
    height:           48px;
    width:            100%;
    display:          block;
    &:hover{
      .shadowIn(0,0,20px,10px,fadeout(@color5,80%))
    }
  }
}
.item-list .views-row{
 margin: 5px 0;
}
.twitterImage{
  display:          inline-block;
  float:            left;
  height:           64px;
}
.navDisplay{
  margin-bottom:    10px;
  height:           307px
}
.region-menuheader{
  display:inline-block;
  width:100%;
  ul{
    width:            100%;
    text-align:       center;
  }
  .leaf{
    width:            18%;
    display:          inline-block;
    padding:0;
    text-align:center;
  }
  .first{
  margin:3px 0 0 8px;
  }
}
.helpLink{
  font-size:1.3em;
}

.views-slideshow-cycle-main-frame-row *{
  border-radius:          3px;
  -webkit-border-radius:  3px;
  display:relative;
}
.mainCatalogSearch{
  position:         absolute;
  top:              2px;
  right:            2px;
  z-index:          10;
  background:@colorLight60;
}

form *{
  border:           none;
  font-size:        1em;
  position:         relative;
  margin:           0;
}
input,select,input[type="submit"], input[type="text"] {
  color:@colorDark;
  height:18px;
  font-size:1em;
  background: rgba(255, 255, 255, 0.3);
  .rounded-corners(3px);
  border:1px solid @buttonBorder;
  vertical-align:top;
  line-height:normal !important;
  
}

form #user-login-form{
  margin:1em;
}

.sliderInfoBox{
  position:absolute;
  bottom:0;
  left:0;
  background:fadeout(@colorDark,60%);
  overflow:hidden;
  color:@colorLight;
  width:100%;
  max-height:7em;
  a{
    color:@colorLight;  
  }
}
/*Flex Slider */
.flex-control-nav{
  bottom:-.1em;
  right:1em;
  width:auto;
}
.flex-direction-nav{
  .prev,.next{
    background:@colorDark60;
    display:none;
  }
}

.list {
  a{
    display:block;
  }
}

/* Locations  */
.locationHover{
  margin:       .3em;
  &:hover{
    cursor:default;
  }
}
.highlightSelect:after{
  content:"";
  position:absolute;
  background:@color3;
  height:100%;
  width:10px;
  top:0;
  right:0;
  .shadowOut(4px,0,2px,-2px,@shadow);
}
.locationDisplay{
  min-height:146px;
  min-width:135px;
  font-size:1.1rem;
  div{
    margin:.3em;
  }
} 

.dayBox {
  width: 2.7em;
  height: 2.4em;
  padding: 1em 1em 1em .7em;
  position: relative;
  font-size:.8em;
  white-space:nowrap;
  .timeContainer {
    font-size: 1.1em;
    position: absolute;
    bottom: 2px;
    margin-bottom: 0px;
    width:5em;
    white-space:nowrap;
  }
}
.closedDate{
  padding-left:25px;
  .timerContainer{
    left:4px;
  }
  .dayBox{
    display:inline-block;
    width:6em;
    height:4.8em;
    margin-bottom:.7em;
    
    span:nth-child(1){
      font-size:2.4em;
    }
    span:nth-child(2){
      font-size:2.1em;      
    }
    span:nth-child(3){
      font-size:2.3em;      
    }
  }
}
.socialContainer{
  height:3em;
  .socialLinks{
    a{
      font-size:3em;
      color:@colorDark;
    }  
  } 
} 

/* Articles */

.socialLinks{
  opacity:.1;
  .Animate(500ms);
  li{
    display:inline-block;
    position:relative;
    top:-6px;
  }
}

.socialMediaContainer{
  position:absolute;
  top:127px;
  left:3px;
}
  
.facebook,.twitter,.googleplus,.youtube{
    padding:0;
     -moz-font-feature-settings: "calt=0,liga=0";
    a{
      display:block;
      .Animate();
      transform-origin: 8px 16px;
      -webkit-transform-origin: 8px 16px;
      z-index:50;
  }
}

.articleItem{
  position:relative;
  width:100%;
  padding:3px;
  margin-bottom:10px;
  min-height:150px;
}
.field-content a[property*="label"]{/*These are tags on items*/
  padding:3px;
  margin:10px 15px 0 0;
  .rounded-corners(3px);
  -webkit-box-shadow: inset 0 0 1px 1px @shadow;
  box-shadow: inset 0 0 1px 1px @shadow;
  position:relative;
  background:@colorLight;
  &:after{
    content:"";
    position:absolute;
    background:@color3;
    height:100%;
    width:10px;
    top:0;
    right:-.7em;
    .shadowOut(4px,0,2px,-2px,@shadow);
  }
}

.articleItem:hover .socialLinks{
  opacity:.95;
}

.user-picture img{
  height:40px;
  width:40px;
}

  .articleBox,.articleContainerBox,.containerBox,.bookBox{
  position:relative;
  background:#FFF;
  min-height:100px;
}

.articleContainerBox,.deliciousContainer,.containerBox{
  padding:30px 5px 5px 5px;
}
.articleEntryTitle{
  font-size:20px;
  width:500px;
  border-bottom:@colorDark solid 1px;
  margin-bottom:3px;
}
.articleEntryTitle a{
  color:@color3;
}
.articleEntryTitle a:hover{text-decoration:none;}
.articleEntryAuthor{
  font-size:10px;
  color:@colorDark;
  img{
    height:24px;
    width:24px;
  }
}
.articleEntryDescription{
  width:600px;
  overflow:hidden;
  margin-bottom:10px;
}


.topNav{
  width:940px;
}
.logoImage{
  height:75px;
  width:68px;
}
.secondNav{
  font-weight:bold;
  font-size:1.2em;
  position:relative;
  height:1.4em;
  
}
.siteMap .secondNav{
  background:@color4;
  height:20px;
}

.logoTree{
  max-height:75px;
  max-width:68px;
}
.subPageHeader{
  font-size:50px;
  height:115px;
  padding:3px 3px 3px 10px;
  margin:0 5px 10px 5px;
  background: url('/sites/all/themes/lapcat/images/LaPorte_County_Public_Library.jpg') no-repeat;
  background-size:cover;
  background-position:0px;
  div{
    display:table-cell;
    vertical-align:middle;
    white-space:nowrap;
    height:90px;
    width:100%;
  }
}
/*Sub page headers*/
.subPageHeader.Hours{
  background:url('http://maps.googleapis.com/maps/api/staticmap?center=41.609126,-86.721036&zoom=10&size=560x85&scale=2&sensor=false') no-repeat scroll -89px center;
}
.subPageHeader.Downloads{
  background:url('/sites/all/themes/lapcat/images/downloadHeader.png') no-repeat;
}
.subPageHeader.Research{
  background:url('/sites/all/themes/lapcat/images/researchHeader.png') no-repeat;
}

.subPageCatalogSearch{
  position:absolute;
  right:5px;
  top:0;
  opacity:1;
  z-index: 10;
  background:#E0E0E0;
  padding:3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.secondNav a:hover,.firstNav a:hover,.eventFeedTitle a:hover{
  color:@colorDark;
}
.hoverGlow,.hoverGlowText{.Animate(300ms)}
.hoverGlow:hover{
  .shadowOut(0,0,2px,2px,@color5);
}
.hoverGlowText:hover{
  .shadowOutText(0,0,4px,@color5);
}

/* Teen Section */
.locationBoxInfo{
  width:40%;
  float:left
}
.locationBoxMap{
  width:60%;
  float:left;
  a{
    background-position:50%;
  }
}
.centerBox{
  margin:0 auto;
  width:918px;
}
.topHeader{
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height:112px;
  padding:2px;
  z-index:100;
}
li{
  list-style: none outside none;
}

.bookTitle{
  margin-bottom:0px;
}

#container{
  position:relative;
  z-index:10;
}

.twitterBox,.twitterContainer,.deliciousBox{
  position:relative;
  width:100%;
  background:#FFF;
}
.mainContentBox{
  background:#FFF;
  height:436px;
  margin-right:10px;
  position:relative;
  width:100%;
}
#greatPicksContainerBox .rssItem img{
  width:100px;
}
.blogBox,.blogContainerBox,.containerBox,.bookBox,.box,body{
  background:        @colorLight url("images/grey.png");
  min-height:        100px;
  position:          relative;
}
.blogContainerBox,.containerBox {
  margin-bottom:    1em;
  padding:          30px 5px 5px 5px;
}


/**
 * Title and Button elements  
 * 
 */
.subTitleElement a{
  display:inline-block;
  margin-left:3px;
}
.subTitleElement a.selected{
  margin-left:3px;
}
.twitterFeedTitle,.mainContentTitle,.blogTitle,.eventFeedTitle,.titleElement{
  cursor:pointer;
  padding:6px;
  position:absolute;
  top:60px;
  right:18px;
  white-space: nowrap;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  z-index:5;
}

.twitterFeedTitle,.blogTitle,.titleElement{
  left:0px;
  right:auto;
  top:-5px;
  width:auto;
}
.twitterList{
  width:100%;
  li{
    width:100%;
    display:block;
    min-height:50px;
  }
}
.titleElement a{
  color: #F1F1F1;
}
.titleElement a:hover,.subTitleElement a:hover{
  text-decoration:none;
}
.eventFeedTitle{
  left:350px;
  right:350px;
  width:auto;
  top:3px;
  text-align:center;
}

.view-tweets ul li{display:inline-block;}

.mainContentTitle{
  right:525px;
  top:-5px;
}
.middleSectionScroll{
  display:inline-block;
  width:10px;
  height:10px;
  background-color:rgba(255,255,255,.4);
  border:solid 1px rgba(255,255,255,.6);
  cursor: pointer;
  margin:2px;
}
.middleSectionScroll:hover{
  background-color:rgba(132,185,189,.4);
  border:solid 1px rgba(132,185,189,.6);
}

.blogTitle a:hover,.twitterFeedTitle a:hover,.deliciousFeedTitle a:hover{text-decoration:none;}
.secondNav a,.firstNav a{color:#000;}

.delItem .delFavIcon{
  display:inline-block;
  height:16px;
  width:16px;
  margin-right:3px;
}
.deliciousContainer{
  padding:25px 5px 5px 5px; 
  width:300px;
}
.rssItem{
  padding:3px 40px 3px 10px;

}
.menuDropDown a{content:"Menu";font-size:1.5em;}


/*sprite Code*/
.sprite{background-image:url("/images/csg-4f7079e61a6bf.png");}

/*Children*/

.childWholePage{
  background: rgb(38,163,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -webkit-radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* IE10+ */
  background: -moz-linear-gradient(top, #ffffff 0%, #26a3ff 100%); /* FF3.6+ */
  background: radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* W3C */
}
.childrenTree{
  z-index:1;
  background-size:contain;
  position:absolute;
  bottom:48px;
  right:-5%;
  height:31em;
  width:29em;
}
.childrenSun{
  position:absolute;
  background-size:contain;
  left:-43px;
  top:36px;
  width: 400px;
  height: 400px;
  -webkit-animation: spinSun 30s infinite linear;
  -moz-animation: spinSun 30s infinite linear;
  -ms-animation: spinSun 30s infinite linear;
  -o-animation: spinSun 30s infinite linear;
  animation: spinSun 30s infinite linear;
}


.childrenGrass{
  width:100%;
  z-index:1;
  position: relative;
  background-position-y:0;
  height:98px
}
/*Global tweeks*/
#pageHeader{
  margin-bottom:15px;
}
.element-invisible{display:none;}


footer {
  .FancyAnimate();
  z-index:20;
  height:17em;
  position:absolute;
  width:100%;
  * { vertical-align:top; }
  h3{
    text-shadow:0px 2px 4px @color5, 0 0 0 #000, 0px 2px 4px @color5;
    color:@colorDark;
    color:rgba(0,0,0,.3); 
  }
  .socialLinks{
    opacity:.9;
    font-size:3em;
    height:1.3em;
    a{
      text-shadow:0px 5px 4px @color5, 0 0 0 #000, 0px 2px 4px @color5;
      color:rgba(0,0,0,.3);
      &:hover{
        text-shadow:0px 0px 4px @color5, 0 0 0 #000, 0px 2px 4px @color5;
      }
    }  
  }
  .footerLeft {
    width:80%;
    float:left;
  }
  .footerRight {
    width:20%;
    float:right;
  }
  #search-block-form{
    -webkit-box-shadow: inset 0 0 1px 1px @shadow;
    box-shadow: inset 0 0 1px 1px @shadow;
    background:rgba(0,0,0,.3);
    margin:5px;
    margin-bottom:10px;
    padding:.3em;
    width:14em; 
    .form-actions{
      float:right;
    }
    .form-text{
      width:10em;
    }
    .rounded-corners(3px);
    input{
      color:@colorDark;
      height:1.5em;
      background: rgba(255, 255, 255, 0.3);
      .rounded-corners(3px);
      border:none;
    }
  } 
  #pageLinks li{
    font-size:1.3em;
    padding:3px;
    a{ color:@colorLight60; }
  }
}



/*Animations*/
@keyframes spinSun {  
  0% { transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

@-ms-keyframes spinSun {  
  0% { transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

@-moz-keyframes spinSun {  
  0% { -moz-transform: rotate(0)}
  100% {-moz-transform: rotate(360deg)}
}

@-webkit-keyframes spinSun {
  0% { -webkit-transform: rotate(0)}
  100% {-webkit-transform: rotate(360deg)}
}


/*Testing something*/


[class^="icon-"], [class*=" icon-"] {font-family:'WebHostingHub-Glyphs';background:none;width:auto;height:auto;font-style:normal}
.icon-facebook:before{content:'\f140'}
.icon-facebookalt:before{content:'\f14b'}
.icon-youtube:before{content:'\f142'}
.icon-twitter:before{content:'\f16a'}
.icon-googleplus:before{content:'\f165'}
.icon-info-sign:before{content:'\f315';color:@color5;}
.icon-file:before{content:'\f0d6'}
.icon-zoom-in:before{content:'\f320';color:@color560;}
.icon-comment:before{content:'\f12c'}
.icon-commentout:before{content:'\f080'}
.icon-commentround:before{content:'\f155'}
.icon-commentroundempty:before{content:'\f156'}
.icon-commentroundtyping:before{content:'\f157'}
.icon-commentroundtypingempty:before{content:'\f158'}
.icon-commenttyping:before{content:'\f12d'}
.icon-automobile-car:before{content:'\f239'}
.icon-bus:before{content:'\f241'}