  .navBoxGroup{
    display:inline-block;
    width:100%;
  }
@media only screen and (min-width: 50em) { /* middle width */
  
 .navDisplay{
    .navBoxGroup{
      width:17%;
    }
    .grid_20{
      width:82%;
      float:right;
    }
  }
  .navBoxes{
    height:3.13rem;
    line-height:3.13rem;
    margin:2px 0;
  }
  
  .secondNav{
    display:block;
  }
  .firstNav{
    height:4em;
    margin:0;
  }
  .topHeader{height:50px;}
  .mainArea{
    padding-top:2em;
  }  
  .siteMap{
    width:80%;
  }
  header nav h1, header nav h3{
    font-size:1.3em;
    white-space:nowrap;
  }
  nav .logoTree{
    width:40px;
    height:40px;
  }  
  .childrenTree{
    height:300px;
    width:300px;
    background: none, url('/images/tree.svg') no-repeat;
    background-size:contain;
  }
  .navDisplay{
    height:auto; 
  }
  main{
    .socialLinks{
      width:auto;
      [class^="icon-"], [class*=" icon-"] {font-size:2.3em;width:3.2rem;}
      li{
        display:inline-block;
      }
    }
  }   
}
@media only screen and (min-width: 25em) { /* Portrait Phones */
  nav{
    
  }
  .container_24{
    margin:0 .5em;
  }
  .subPageCatalogSearch,.mainCatalogSearch{
    display:none;
  }

  nav h1{
    font-size: 1.5em;
    text-align:left;
    white-space:nowrap;
  }
  nav h3{
    font-size: 1.2em;
    text-align:left;
  }
  .copyright{
    width:33%;
  }
  .childrenTree{
    height:200px;
    width:200px;
    background:url("/images/tree.png") no-repeat;
    background-size:contain;
  }
  .logoTree{
    width:0px;
    height:0px;
  }
  .region-menuheader{
    display:block;
    float:left;
    width:100%;
    .leaf{
      width:14%;
      white-space:nowrap;
    }
  }
  .helpLink{
    position:relative;
    top:-.8em;
    float:right;
  }
  .articleItem{
    .tagStyle{
      font-size:160%;
    } 
    .socialLinks {
      height:2em;
      [class^="icon-"], [class*=" icon-"] {
        font-size:145%;width:2.2rem;
      }
      li{
        display:inline-block;
      }
      .facebook{
      margin-left:3.2em;    
      }  
    }
  }
  .subPageHeader{
    height:90px;
    background-size:100% 90px;
  }

}
@media only screen and (min-width:1.5em){ /*everything should be here*/
  .subPageCatalogSearch,.mainCatalogSearch{
    display:none;
  }
  main{
    .socialLinks{
      width:9.23rem;
    }
  }
  [class^="icon-"], [class*=" icon-"] {font-size:2em;width:3rem;}
  .mainArea{
    padding-top:.5em;
  }
  .grid_16,.grid_22,.grid_8,.navDisplay{
    margin-left:.5rem;
    margin-right:.5rem;
  }
  .articleItem{
    .articleEntryDescription{
      width:100%;
    }
    .socialLinks{
      width:100%;
    }
  }

  .articleEntryTitle{
    font-size:1.2em;
    width:100%;
  }
  .bookCoverImage{
    width:80px;
  }
  .region-menuheader{
    display:block;
    .leaf{
      width:14%;
      white-space:nowrap;
      a{
        text-align:center;
        width:100%;
      }
    }
  }
  .logoImage,.logoBlock{
    height:4em;
    width:3.8em;
  }
  .topNav{
    width:100%;
  }
  .topHeader{
    width:100%;
    position:relative;
    height:6.4em;
    h1{
      font-size:1.1em;
    }
    h3{
      font-size:1.2em;
    }
  }
  .helpLink{
    position:absolute;
    top:-1.5em;
    right:1em;
    font-size:1.5em;
  }
  .navDisplay{
    height:auto;
  } 
  footer {
    height:auto;
    .footerLeft{
      float:none;
      display:inline-block;
    }
    .footerRight{
      float:none; 
      display:inline-block;
    }
  } 

}

/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}