.wholePage{
	background: rgb(38,163,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%, rgb(38,163,255) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, 20px 36px center, 0px, center center, 100%, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(38,163,255))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* IE10+ */
	background: radial-gradient(20px 36px, circle cover,  rgb(255,255,255) 0%,rgb(38,163,255) 100%); /* W3C */
}

.childrenSun{
	position:absolute;
	background: url('/images/sun.svg') no-repeat;
	background-size:cover;
	left:-155px;
	top:36px;
	width: 470px;
	height: 470px;
	-webkit-animation: spinSun 30s infinite linear;
	-moz-animation: spinSun 30s infinite linear;
	-ms-animation: spinSun 30s infinite linear;
	-o-animation: spinSun 30s infinite linear;
	animation: spinSun 30s infinite linear;
}

.childrenGrass{
	background: url('/images/img.png') 0 -427px;
	height:130px;
	width:100%;
	z-index:1;
	position: relative;
}
.mainArea{
	position:relative;
}


/*sprite Code*/
.sprite{background-image:url("/images/csg-4f7079e61a6bf.png");}
.sprite-Discovery_Kids_logo{ background-position: 0 0; width: 100px; height: 100px; } 
.sprite-Disneydigitalbooks{ background-position: 0 -105px; width: 100px; height: 100px; } 
.sprite-Lego{ background-position: 0 -210px; width: 100px; height: 100px; } 
.sprite-NGLittleKids{ background-position: 0 -315px; width: 100px; height: 100px; } 
.sprite-NickJrLogo{ background-position: 0 -420px; width: 100px; height: 100px; } 
.sprite-PBS_Kids{ background-position: 0 -525px; width: 100px; height: 100px; } 
.sprite-Starfall{ background-position: 0 -630px; width: 100px; height: 100px; } 
.sprite-TumbleBook{ background-position: 0 -735px; width: 100px; height: 98px; } 
.sprite-TumbleBook_icon{ background-position: 0 -838px; width: 100px; height: 100px; } 
.sprite-Yahookids{ background-position: 0 -943px; width: 100px; height: 100px; } 
.sprite-barbie{ background-position: 0 -1048px; width: 100px; height: 100px; } 
.sprite-cartoon_network{ background-position: 0 -1153px; width: 100px; height: 100px; } 
.sprite-chugginton{ background-position: 0 -1258px; width: 100px; height: 100px; } 
.sprite-coloring_com{ background-position: 0 -1363px; width: 100px; height: 100px; } 
.sprite-disneygames{ background-position: 0 -1468px; width: 104px; height: 104px; } 
.sprite-funbrain{ background-position: 0 -1577px; width: 100px; height: 100px; } 
.sprite-sesamestreet{ background-position: 0 -1682px; width: 100px; height: 100px; } 
.sprite-youtube{ background-position: 0 -1787px; width: 115px; height: 50px; } 

#MainContainerBox li{display:inline-block;}
#MainContainerBox li a {
	text-indent:-9999px;
	margin:5px;
	display:block;
    
}

/*end of sprite*/

@keyframes spinSun {  
	0% { transform: rotate(0)}
	100% {transform: rotate(360deg)}
}

@-ms-keyframes spinSun {  
	0% { transform: rotate(0)}
	100% {transform: rotate(360deg)}
}

@-moz-keyframes spinSun {  
	0% { -moz-transform: rotate(0)}
	100% {-moz-transform: rotate(360deg)}
}

@-webkit-keyframes spinSun {
	0% { -webkit-transform: rotate(0)}
	100% {-webkit-transform: rotate(360deg)}
}
@-o-keyframes spinSun {
  0% { -webkit-transform: rotate(0)}
  100% {-webkit-transform: rotate(360deg)}
}