/* fluid layout for smaller screens */
/* 
*{
   -webkit-transition: all 1500ms linear;
     -moz-transition: all 1500ms linear;
      -ms-transition: all 1500ms linear;
       -o-transition: all 1500ms linear;
          transition: all 1500ms linear;
}
*/
.topNav{
	width:100%;
}
.topNav .menuSelect{
	width:100%;
}
.navDisplay{
	width:100%;
	height:500px;
}
.navDisplay div{
	float:left;
}
.navDisplay .grid_6,.rightNav .smallSection{
	width:31%;
}
.logoTree{
  max-height:75px;
  max-width:68px;
}

.middleSectionContainer,.middleSection, .middleSection form, .middleSection a,
.mediumSection, .mediumSection form, .mediumSection a
{
  width:100%;
}


.grid_6,.grid_12,.grid_22,.grid_8,.grid_16{
	margin-left:1%;
	margin-right:1%;
	width:98%;
}
.navDisplay .rightNav{
	float:none;
	display:inline-block;
	width:100%;
}
.rightNav .smallSection{
	margin-left:1%;
	margin-right:1%;
	display:none;
}
.rightNav {
	margin:0px;
}
.largeNav{
	display:none;
}
.secondNav .topNav{
	font-size:80%;
}
.grid_22{
	display:none;
}
.navDisplay{
	height:auto;
}
.blogItem{
	width:100%;
}
.blogEntryDescription object{
	display:none;
}
.blogEntryDescription{
	overflow:hidden;
}
.blogEntryDescription img{
	width:80%;
	float:left;
}

/* Hours and Locations */

.locationBoxInfo{
	width:100%;
	float:none;
}
.locationBoxInfoLocation,.locationBoxInfoHours{
	display:inline-block;
	vertical-align:top;
	margin:3px;
}
.locationBoxMap{
	width:100%;
	float:none;
}

/*	rotating middle section code Start*/

.surface .image1,.surface .image2{
	height:100%;
	width:100%;
	background-size:100% 100%;
}

.floatingHeader{
	position:absolute;
	left:10%;
	top:10px;
	opacity:1;
	z-index: 10;
	color:#1f1f1f;
	font-size:40px;
}
.countDownBox{
	width:100%;
	max-width:350px;
}

/*	rotating middle section code End*/
.flexslider img{
	width:100%;
	height:250px;
}
.flexslider{
	overflow:hidden;
}
.mediumSection input[type=text]{
  background:blue;
}
