/* fluid layout for smaller screens */

.topHeader{
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:112px;
	padding:2px;
	z-index:999;
}
.navDisplay{
	width:100%;
	height:500px;
}
.navDisplay div{
	float:left;
}
.navDisplay .grid_6,.rightNav .smallSection{
	width:31%;
}
.mediumSection,.middleSection,.middleSection a, .middleSection form,.mediumSection form, .mediumSection a{
	width:100%;
}
.mediumSection form select{
	width:33%;
	right:3px;
	left:auto;
}
.mediumSection form input{
	width:62%;
}
.navDisplay .grid_12,.grid_22{
	width:64%;
}
.grid_6,.grid_12,.grid_22,section,.grid_8,.grid_16{
	margin-left:1%;
	margin-right:1%;
}
.navDisplay .rightNav{
	float:none;
	display:inline-block;
	width:100%;
}
.rightNav .smallSection{
	margin-left:1%;
	margin-right:1%;
}
.rightNav {
	margin:0px;
}

.grid_22{
	display:none;
}
.navDisplay{
	height:auto;
}
.blogItem{
	width:100%;
}
@media only screen and (max-width: 700px) {
	.topNav h3{
		font-size:20px;
	}
	.topNav h4{
		font-size:18px;
	}
}
@media only screen and (max-width: 400px) {
	.grid_6,.grid_12,.grid_22,section{
		width:100%;
		margin-left:5px;
		margin-right:5px;
	}	
}