/* HTML5 ��� Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */


body,html {
	margin:0px;
	padding:0px;
	height:100%;
	color:#000;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.t{display:table; width:100%;}
.td{display:table-cell;vertical-align: top;}
.tr{display:table-row;}

.tab, .firstTab, .smallTab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #000000;
    height: 30px;
    margin:0 2px 0 2px;
    padding: 3px;
    text-align: center;
    width: auto;
    background-color:#BDE1BD;
    vertical-align: bottom;
    font-size:20px;
    white-space: nowrap;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
	display:block;
	height:30px
}
.tab:hover{
	   /*
	    -moz-box-shadow: 0px -5px 5px rgba(68,68,68,0.6);
        -webkit-box-shadow: 0px -5px 5px rgba(68,68,68,0.6);
        box-shadow: 0px -5px 5px rgba(68,68,68,0.6);
       */
   -moz-box-shadow:inset 0 0 10px #000000;
   -webkit-box-shadow:inset 0 0 10px #000000;
   box-shadow:inset 0 0 10px #000000;
}


h1 { 
	font-family: 'Dancing Script' , arial, serif; 
	font-size: 36px;
	font-weight: bold;
}
	
.h11 { 
	font-family: 'Dancing Script' , arial, serif; 
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}
	
h2 {
	font-family: 'Buda' , sans-serif; 
	font-size: 64px;
	text-align: center;
	color: #5F3E12;}
	
h3 {
	font-family: 'Buda' , sans-serif;
	font-size: 30px;
	text-align: left;
	text-align:center;
	color: #5F3E12;
	margin:2px;
	padding:2px;
}
	
h4 {
	font-family: 'Calligraffitti', serif;
	font-size: 24px;
	text-align:center;
	margin:2px;
	padding:2px;
}
	
.h24 {
	font-family: 'Calligraffitti', serif;
	font-size: 12px;
	text-align: center;
}
	
.h26 { font-family: 'Love Ya Like A Sister', cursive;	font-size: 48px; text-align: center
}	

.insideBorder{
	overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/*
 * All layouts
 *  
 */

a,a:hover,a:visited,a:focus { color: #000; text-decoration:none; }
a:hover{text-decoration: underline;}


.downloadsNav{
	background:url("/images/download.jpg") no-repeat scroll 50% 50% transparent;
}
.catalogNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.researchNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.genealogyNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.eventsNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.hoursNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.greatPicksNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}


.firstNav{
	background: rgb(192,251,254);
}
.secondNav{
	font-weight:bold;
	font-size:15px;
	background: #BDE1BD;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.secondNav a:hover,.firstNav a:hover{
	text-decoration:none;
}
.insideBoxShadow{
	-moz-box-shadow: inset 0 0 1px 1px #888;
	-webkit-box-shadow: inset 0 0 1px 1px#888;
	box-shadow: inset 0 0 1px 1px #888;
}
/* Full Screen */

.fLeft{
	float:left;
}
.fright{
	float:right;
}
.centerBox{
	margin:0 auto;
	width:918px;
}

.topHeader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:112px;
	padding:2px;
	z-index:999;
}
.menuSelect{
	width:150px;
	overflow:hidden;
	height:25px;
	line-height:25px;
	text-align:center;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.menuSelect:hover{
	background:rgba(255,255,255,.7);
}
.topMenu {
	text-align:left;
	margin:0 auto;
	width:684px;
	background-position: center;
	font-family:sans-serif;
	font-weight: bold;
	line-height:19px;
	font-size:16px;
}
li{
	list-style: none outside none;
}
.mainArea{
	margin:0 auto;
	width:1000px;
	padding:125px 2px 20px 2px;
	background-color:rgb(220,220,220);
	height:101%;
}
.sectionText{
	position:absolute;
	bottom:0px;
	right:0px;
	background:#FFF;
	padding:3px;
}
.smallSection,.mediumSection,.middleSection{
	display:block;
	background:#000 no-repeat;
	position:relative;
}
.navDisplay:hover .smallSection a,.navDisplay:hover .middleSection form{
	opacity:.6;
}

.navDisplay .smallSection a:hover,.navDisplay .mediumSection a:hover,.navDisplay .middleSection form:hover{
	opacity:1;
}
.smallSection,.smallSection a{
	height:100px;
	width:250px;
	margin:3px;
	background-size:250px 100px;
}
.mediumSection,.mediumSection a{
	height:150px;
	width:250px;
	margin:3px;
}
.middleSection,.middleSection form{
	height:306px;
	width:400px;
	margin:3px;
	background-size:400px 306px;
}
.middleSection form:hover,.smallSection:hover a{
	opacity:1;
}
.shadowBox{
	position:absolute;
	top:-3px;
	left:-3px;
}
.smoothAnimate{
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}
.soonCalendar{
	position:relative;
	margin:0 auto;
	margin-top:20px;
	width:918px;
}

.soonCalnedarInfoTriangle{
	content:"";
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-left: 15px solid rgb(192,251,254);
	border-bottom: 60px solid transparent;
}
.soonCalendar ul li,.soonCalendar ul{
	list-style: none outside none;
	list-style-position:inside;
	display:inline-block;
	vertical-align:top;
	margin:0px;
	padding:0px;
}

.twitterBox{
	position:relative;
	height:300px;
	width:100%;
	background:#FFF;
}
.mainContentBox{
	position:relative;
	height:300px;
	background:#FFF;
	margin-right:10px;
}
.twitterContainer{
	height:300px;
	overflow:auto;
}
.soonCalendar ul{
	margin:15px;
}

.soonCalnedarInfo div{
	height:120px;
	width:180px;
	padding:6px;
}
.soonCalendarDisplay{
	position:relative;
	margin:15px;
	height:120px;
	width:600px;
	background:#FFF;
	overflow:hidden;
}
.soonCalendarContainer{
	position: absolute;
	top:0px;
	left:40px;
	display:table;	
}
.soonCalendarNext,.soonCalendarBack,.twitterFeedTitle,.mainContentTitle{
	cursor:pointer;
	color: #5F3E12;
	padding:6px;
	position:absolute;
	top:60px;
	right:70px;
	white-space: nowrap;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	background: #06d6dd; /* Old browsers */
	background: -moz-linear-gradient(top, #06d6dd 0%, #6ff7fc 0%, #06d6dd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06d6dd), color-stop(0%,#6ff7fc), color-stop(100%,#06d6dd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #06d6dd 0%,#6ff7fc 0%,#06d6dd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #06d6dd 0%,#6ff7fc 0%,#06d6dd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #06d6dd 0%,#6ff7fc 0%,#06d6dd 100%); /* IE10+ */
	background: linear-gradient(top, #06d6dd 0%,#6ff7fc 0%,#06d6dd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06d6dd', endColorstr='#06d6dd',GradientType=0 ); /* IE6-9 */
}
.soonCalendarBack{
	right:636px;
}
.twitterFeedTitle{
	right:198px;
	top:-5px;
}
.mainContentTitle{
	right:525px;
	top:-5px;
}
.rssItem{
	padding:3px 40px 3px 10px;
	height:120px;
	display:table-cell;
}
.rssTitle{
	font-size:16px;
	width:510px;
}
.rssDate{
	position:absolute;
	top:3px;
	right:3px;
}
b{font-weight:normal;}
.thirtyPercent{
	width:276.4px;
}
.seventyPercent{
	width:587.6px;
}
/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
