/* HTML5 ��� Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */


body,html {
	margin:0px;
	padding:0px;
	height:100%;
	color:#000;
}
ul,li{
	display:inline-block;
}

.t{display:table; width:100%;}
.td{display:table-cell;vertical-align: top;}
.tr{display:table-row;}

.tab, .firstTab, .smallTab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #000000;
    height: 30px;
    margin:0 2px 0 2px;
    padding: 3px;
    text-align: center;
    width: auto;
    background-color:#BDE1BD;
    vertical-align: bottom;
    font-size:20px;
    white-space: nowrap;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
	display:block;
	height:30px
}
.tab:hover{
	   /*
	    -moz-box-shadow: 0px -5px 5px rgba(68,68,68,0.6);
        -webkit-box-shadow: 0px -5px 5px rgba(68,68,68,0.6);
        box-shadow: 0px -5px 5px rgba(68,68,68,0.6);
       */
   -moz-box-shadow:inset 0 0 10px #000000;
   -webkit-box-shadow:inset 0 0 10px #000000;
   box-shadow:inset 0 0 10px #000000;
}


h1 { 
	font-family: 'Dancing Script' , arial, serif; 
	font-size: 36px;
	font-weight: bold;
}
	
.h11 { 
	font-family: 'Dancing Script' , arial, serif; 
	font-size: 36px;
	text-align: center;
	font-weight: bold;
}
	
h2 {
	font-family: 'Buda' , sans-serif; 
	font-size: 64px;
	text-align: center;
	color: #5F3E12;}
	
h3 {
	font-family: 'Buda' , sans-serif;
	font-size: 30px;
	text-align: left;
	text-align:center;
	color: #5F3E12;
	margin:2px;
	padding:2px;
}
	
h4 {
	font-family: 'Calligraffitti', serif;
	font-size: 24px;
	text-align:center;
	margin:2px;
	padding:2px;
}
	
.h24 {
	font-family: 'Calligraffitti', serif;
	font-size: 12px;
	text-align: center;
}
	
.h26 { font-family: 'Love Ya Like A Sister', cursive;	font-size: 48px; text-align: center
}	

.insideBorder{
	overflow:hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.locationHover{
	display:block;
	text-align:left;
	cursor:pointer;
}
/*
 * All layouts
 *  
 */

a,a:hover,a:visited,a:focus { color: #000; text-decoration:none; }
a:hover{text-decoration: underline;}
.roundAll2 {
border-radius:2px;
-moz-border-radius:2px;
webkit-border-radius:2px;
}
.roundAll3 {
border-radius:3px;
-moz-border-radius:3px;
webkit-border-radius:3px;
}
.roundAll4 {
border-radius:4px;
-moz-border-radius:4px;
webkit-border-radius:4px;
}
.mobileSchedule{
	background:url("/images/mobilelibraryschedule.png") no-repeat scroll 50% 50% transparent;
	display:block;
	height:121px;
	width:176px;
	text-indent:-99999px;
}
.downloadsNav{
	background:url("/images/download.jpg") no-repeat scroll 50% 50% transparent;
}
.catalogNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.researchNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.genealogyNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.eventsNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.hoursNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}
.greatPicksNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;
}


.firstNav{
	background: rgb(192,251,254);
}
.secondNav{
	font-weight:bold;
	font-size:15px;
	background: #BDE1BD;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.subPageHeader{
	background: #BDE1BD;
	box-shadow:none;
	font-size:50px;
	height:90px;
	padding:3px 3px 3px 10px;
}
.subPageHeader div{
	display:table-cell;
	vertical-align:middle;
	white-space:nowrap;
	height:90px;
	width:100%;
}
.secondNav a:hover,.firstNav a:hover,.eventFeedTitle a:hover{
	text-decoration:none;
}
.insideBoxShadow{
	-moz-box-shadow: inset 0 0 1px 1px #888;
	-webkit-box-shadow: inset 0 0 1px 1px#888;
	box-shadow: inset 0 0 1px 1px #888;
}
/* Full Screen */

.fLeft{
	float:left;
}
.fright{
	float:right;
}
.centerBox{
	margin:0 auto;
	width:918px;
}

.topHeader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:112px;
	padding:2px;
	z-index:999;
}
.menuSelect{
	width:150px;
	overflow:hidden;
	height:25px;
	line-height:25px;
	text-align:center;
	-webkit-transition: .3s ease-in;
	-moz-transition: .3s ease-in;
	-o-transition: .3s ease-in;
	transition: .3s ease-in;
}
.menuSelect:hover{
	background:rgba(255,255,255,.7);
}
.topMenu {
	text-align:left;
	margin:0 auto;
	width:684px;
	background-position: center;
	font-family:sans-serif;
	font-weight: bold;
	line-height:19px;
	font-size:16px;
}
li{
	list-style: none outside none;
}
.mainArea{
	padding-top:125px;
	padding-bottom:20px;
	background-color:rgb(220,220,220);
}
aside div,section div,.smallSection,.middleSection,.mediumSection{
	margin-bottom:10px;
}
.sectionText{
	position:absolute;
	bottom:0px;
	right:0px;
	background:#FFF;
	padding:3px;
}
.geekOfTheWeek{
	background:url("http://www.laportelibrary.org/images/geek/week2.png");
	margin:10px 0 10px 0;
	text-indent:-99999px;
	width:310px;
	height:310px;
}
.smallSection,.mediumSection,.middleSection{
	display:block;
	background:#000 no-repeat;
	position:relative;
}
.navDisplay:hover .smallSection a,.navDisplay:hover .middleSection form,.navDisplay:hover .mediumSection form,.navDisplay:hover .middleSection a{
	opacity:.6;
}

.navDisplay .smallSection a:hover,.navDisplay .mediumSection a:hover,.navDisplay .middleSection form:hover,.navDisplay .middleSection a:hover,.navDisplay .mediumSection form:hover{
	opacity:1;
}
.smallSection,.smallSection a{
	height:100px;
	width:100%;
	background-size:100% 100px;
}
.mediumSection,.mediumSection a,.mediumSection form{
	height:60px;
	width:470px;
	background-size:100% 470px;
}
.middleSection,.middleSection form,.middleSection a{
	height:250px;
	width:470px;
	background-size:100% 470px;
}
.fixMargin{
	position:absolute;
	top:0;
	left:0;
}
.middleSection form:hover,.smallSection:hover a,.mediumSection form:hover,.mediumSection a:hover{
	opacity:1;
}
.shadowBox{
	position:absolute;
	top:-3px;
	left:-3px;
}
.smoothAnimate{
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in translateZ(0);
}
.soonCalnedarInfoTriangle{
	content:"";
	width: 0;
	height: 0;
	border-top: 60px solid transparent;
	border-left: 15px solid rgb(192,251,254);
	border-bottom: 60px solid transparent;
}
.soonCalendar ul li,.soonCalendar ul{
	list-style: none outside none;
	list-style-position:inside;
	display:inline-block;
	vertical-align:top;
	margin:0px;
	padding:0px;
}

.twitterBox,.twitterContainer{
	position:relative;
	width:100%;
	background:#FFF;
}
.mainContentBox{
	position:relative;
	height:436px;
	width:100%;
	background:#FFF;
	margin-right:10px;
}
.blogBox,.blogContainerBox{
	position:relative;
	background:#FFF;
	width:630px;
	min-height:400px;
}
.blogContainerBox{
	padding:25px 5px 5px 5px;
	width:620px;
}
.blogItem{
	width:620px;
	padding:3px;
}
.blogEntryTitle{
	font-size:20px;
	min-width:250px;
	max-width:500px;
	border-bottom:rgba(0,0,0,.2) solid 1px;
	margin-bottom:3px;
	
}
.blogEntryTitle a{
	color:#0C717A;
}
.blogEntryTitle a:hover{text-decoration:none;}
.blogEntryAuthor{
	font-size:10px;
	color:#999;
}
.blogEntryDescription{
	width:600px;
}
.soonCalendar ul{
	margin:15px;
}

.soonCalnedarInfo div{
	height:120px;
	width:180px;
	padding:6px;
}
.soonCalendarDisplay{
	position:relative;
	margin:15px;
	height:120px;
	width:100%;
	background:#FFF;
	overflow:hidden;
}
.soonCalendarContainer{
	position: absolute;
	top:0px;
	left:40px;
	display:table;	
}
.soonCalendarNext,.soonCalendarBack,.twitterFeedTitle,.mainContentTitle,.blogTitle,.deliciousFeedTitle,.eventFeedTitle{
	cursor:pointer;
	color: #5F3E12;
	padding:6px;
	position:absolute;
	top:60px;
	right:18px;
	white-space: nowrap;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	background: rgb(192,251,254); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNjMGZiZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYThkY2RkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgb(192,251,254) 50%, rgb(168,220,221) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgb(192,251,254)), color-stop(100%,rgb(168,220,221))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(192,251,254) 50%,rgb(168,220,221) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(192,251,254) 50%,rgb(168,220,221) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(192,251,254) 50%,rgb(168,220,221) 100%); /* IE10+ */
	background: linear-gradient(top, rgb(192,251,254) 50%,rgb(168,220,221) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0fbfe', endColorstr='#a8dcdd',GradientType=0 ); /* IE6-8 */
	z-index:5;
}
.twitterFeedTitle2{
	width:262px;
	right:1px;
	top:0px;
}
.twitterFeedTitle2:after{
	content:"";
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
.soonCalendarBack{
	right:800px;
}
.twitterFeedTitle,.deliciousFeedTitle,.blogTitle{
	left:0px;
	right:auto;
	top:-5px;
	width:auto;
}
.eventFeedTitle{
	left:350px;
	right:350px;
	width:auto;
	top:3px;
	text-align:center;
}
.deliciousFeedTittle:before{
	font-size:12px;
	content:"B ";
	font-family: 'WebSymbolsRegular';
	color:#000;
}
.twitterFeedTitle:before{
	font-size:12px;
	content:"t ";
	font-family: 'WebSymbolsRegular';
	color:#000;
}
.blogTitle:before{
	font-size:12px;
	content:"v ";
	font-family: 'WebSymbolsRegular';
	color:#000;
}
.mainContentTitle{
	right:525px;
	top:-5px;
}

.blogTitle a:hover,.twitterFeedTitle a:hover{text-decoration:none;}
.rssItem{
	padding:3px 40px 3px 10px;
	height:120px;
	display:table-cell;
}
.rssTitle{
	font-size:16px;
	width:510px;
}
.rssDate{
	position:absolute;
	top:3px;
	right:3px;
}
b{font-weight:normal;}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
