/* CSS - Theme 6 */
/* Images */
.image-background{background-image:url(/lapcat/layout/images/1680-1050-29.png); background-position:top left; background-repeat:repeat-x;}
/*.image-background{background-image:none;}*/
/* Colors */
/*
140,67,42  230,230,255
126,45,8   215,215,245
112,21,0   185,185,220
98,0,0     160,160,185
84,0,0     120,120,120
70,0,0     90,90,115
*/
/* Font Colors */
.opposite{color:#000000;}
.border-bot-dark-1{border-bottom:1px solid rgba(230,230,255,0.8);}
.border-bot-off-1{border-bottom:1px solid rgba(90,90,115,1.0);}
.border-strong-1{border:1px solid rgba(230,230,255,1.0);}
.border-strong-2{border:2px solid rgba(230,230,255,1.0);}
.border-main-1{border:1px solid rgba(215,215,245,1.0);}
.border-main-2{border:2px solid rgba(215,215,245,1.0);}
.border-dark-1{border:1px solid rgba(185,185,220,0.3);}
.border-dark-2{border:2px solid rgba(185,185,220,0.3);}
.border-dark-3{border:1px solid rgba(185,185,220,0.6);}
.border-dark-4{border:2px solid rgba(185,185,220,0.6);}
.border-off-1{border:1px solid rgba(90,90,115,1.0);}
.border-off-2{border:2px solid rgba(90,90,115,1.0);}
/* Colors */
.color-background{background-color:rgba(185,185,220,1.0);}
.color-strong{background-color:rgba(230,230,255,1.0);}
.color-main{background-color:rgba(215,215,245,1.0);}
.color-dark{background-color:rgba(185,185,220,0.3);}
.color-darker{background-color:rgba(160,160,185,0.3);}
.color-darkest{background-color:rgba(120,120,120,0.3);}
.color-off{background-color:rgba(90,90,115,1.0);}
.color-heavy{background-color:rgba(90,90,115,0.6);}
/* Form */
.dropbutton{background-color:rgba(185,185,220,1.0); border:1px solid rgba(215,215,245,1.0); color:rgba(255,255,255,1.0); cursor:pointer;}
.dropbutton:hover{background-color:rgba(215,215,245,1.0); border:1px solid rgba(230,230,255,1.0); color:rgba(255,255,255,1.0);}
.dropdown{background-color:rgba(160,160,185,0.3); background-image:url(/lapcat/layout/images/18-18-0.png); background-repeat:repeat; border:1px solid rgba(215,215,245,0.6); color:rgba(255,255,255,1.0);}
.dropdown-main{background-color:rgba(0,0,0,1.0); border:1px solid rgba(230,230,255,1.0); color:#F8C21D;}
/* Line and Open Line */
.line{background-image:none;}
.line:hover{background-color:rgba(185,185,220,0.6); cursor:pointer;}
.open-line{background-color:rgba(215,215,245,0.5); cursor:pointer; padding-right:8px; text-align:right;}
/* Options */
.menu-link{background-color:rgba(0,0,0,0); cursor:pointer;}
.menu-link:hover{background-color:rgba(215,215,245,0.3);}
.option-selected{background-color:rgba(185,185,220,0.6); cursor:pointer;}