/* CSS - Theme 2 */
/* Images */
.image-background{background-image:url(/lapcat/layout/images/1680-1050-1.png); background-position:top left; background-repeat:no-repeat;}
/* Colors */
.border-bot-dark-1{border-bottom:1px solid rgba(80,142,203,0.8);}
.border-bot-off-1{border-bottom:1px solid rgba(13,24,34,1.0);}
.border-strong-1{border:1px solid rgba(80,142,203,1.0);}
.border-strong-2{border:2px solid rgba(80,142,203,1.0);}
.border-main-1{border:1px solid rgba(67,118,169,1.0);}
.border-main-2{border:2px solid rgba(67,118,169,1.0);}
.border-dark-1{border:1px solid rgba(54,94,135,0.3);}
.border-dark-2{border:2px solid rgba(54,94,135,0.3);}
.border-dark-3{border:1px solid rgba(54,94,135,0.6);}
.border-dark-4{border:2px solid rgba(54,94,135,0.6);}
.border-off-1{border:1px solid rgba(13,24,34,1.0);}
.border-off-2{border:2px solid rgba(13,24,34,1.0);}
/* Colors */
.color-background{background-color:rgba(54,94,135,1.0);}
.color-strong{background-color:rgba(80,142,203,1.0);}
.color-main{background-color:rgba(67,118,169,1.0);}
.color-dark{background-color:rgba(54,94,135,0.3);}
.color-darker{background-color:rgba(40,71,101,0.3);}
.color-darkest{background-color:rgba(27,47,68,0.3);}
.color-off{background-color:rgba(13,24,34,1.0);}
.color-heavy{background-color:rgba(13,24,34,0.6);}
/* Form */
.dropbutton{background-color:rgba(54,94,135,1.0); border:1px solid rgba(67,118,169,1.0); color:rgba(255,255,255,1.0); cursor:pointer;}
.dropbutton:hover{background-color:rgba(67,118,169,1.0); border:1px solid rgba(80,142,203,1.0); color:rgba(255,255,255,1.0);}
.dropdown{background-color:rgba(40,71,101,0.3); background-image:url(/lapcat/layout/images/18-18-0.png); background-repeat:repeat; border:1px solid rgba(67,118,169,0.6); color:rgba(255,255,255,1.0);}
.dropdown-main{background-color:rgba(0,0,0,1.0); border:1px solid rgba(80,142,203,1.0); color:#F8C21D;}
/* Line and Open Line */
.line{background-image:none;}
.line:hover{background-color:rgba(37,77,118,0.6); cursor:pointer;}
.open-line{background-color:rgba(67,118,169,0.5); cursor:pointer; padding-right:8px; text-align:right;}
/* Options */
.menu-link{background-color:rgba(0,0,0,0); cursor:pointer;}
.menu-link:hover{background-color:rgba(37,77,118,0.3);}
.option-selected{background-color:rgba(80,142,203,0.45); cursor:pointer; text-align:right;}