/* CSS - Theme 0 */
/* Internet Explorer */
/* Colors */
.border-bot-dark-1{border-bottom:1px solid rgb(80,142,203);}
.border-bot-off-1{border-bottom:1px solid rgb(13,24,34);}
.border-strong-1{border:1px solid rgb(80,142,203);}
.border-strong-2{border:2px solid rgb(80,142,203);}
.border-main-1{border:1px solid rgb(67,118,169);}
.border-main-2{border:2px solid rgb(67,118,169);}
.border-dark-1{border:1px solid rgb(54,94,135);}
.border-dark-2{border:2px solid rgb(54,94,135);}
.border-dark-3{border:1px solid rgb(54,94,135);}
.border-dark-4{border:2px solid rgb(54,94,135);}
.border-off-1{border:1px solid rgb(13,24,34);}
.border-off-2{border:2px solid rgb(13,24,34);}
/* Colors */
.color-background{background-color:rgb(54,94,135);}
.color-strong{background-color:rgb(80,142,203);}
.color-main{background-color:rgb(67,118,169);}
.color-dark{background-color:rgb(54,94,135);}
.color-darker{background-color:rgb(40,71,101);}
.color-darkest{background-color:rgb(27,47,68);}
.color-off{background-color:rgb(13,24,34);}
.color-heavy{background-color:rgb(13,24,34);}
/* Form */
.dropbutton{background-color:rgb(54,94,135); border:1px solid rgb(67,118,169); color:rgb(255,255,255); cursor:pointer;}
.dropbutton:hover{background-color:rgb(67,118,169); border:1px solid rgb(80,142,203); color:rgb(255,255,255);}
.dropdown{background-color:rgb(40,71,101); border:1px solid rgb(67,118,169); color:rgb(255,255,255);}
.dropdown-main{background-color:rgb(0,0,0); border:1px solid rgb(80,142,203); color:#F8C21D;}
/* Line and Open Line */
.line{background-image:none;}
.line:hover{background-color:rgb(37,77,118); cursor:pointer;}
.open-line{background-color:rgb(67,118,169); cursor:pointer; padding-right:8px; text-align:right;}
/* Options */
.menu-link{background-color:rgb(0,0,0,0); cursor:pointer;}
.menu-link:hover{background-color:rgb(37,77,118);}
.option-selected{background-color:rgb(80,142,203); cursor:pointer; text-align:right;}