/* CSS - Theme 9 */
/* Images */
.image-background{background-image:none;}
/* Colors */
/*
40,85,230
30,60,150
150,170,220		Background
0,45,155
0,60,190
25,40,70		Fred
*/
/* Font Colors */
.opposite{color:#000000;}
a, font{color:#000000;}
.gold{color:#FF6600;}
.grey{color:#777777;}
.med-grey{color:#555555;}
.dark-grey{color:#333333;}
.dark{background-image:url(/lapcat/layout/images/1-1-27.png); background-repeat:repeat;}
.darker{background-image:url(/lapcat/layout/images/1-1-52.png); background-repeat:repeat;}
.darkest{background-image:url(/lapcat/layout/images/1-1-52.png); background-repeat:repeat;}
.info-black{background-color:rgb(255,255,255); background-color:rgba(255,255,255,0.5); border:1px solid rgb(235,235,255); border:1px solid rgba(235,235,255,0.65);}
.option-empty{
	background-color:rgb(0,45,155);
	background-color:rgba(0,45,155,1.0);
	background-image:url(/lapcat/layout/images/1-13-0.png);
	background-repeat:repeat-x;
	border:1px solid rgb(0,0,0);
	border:1px solid rgba(0,0,0,1.0);
}
.option-theme{
	background-color:rgb(150,170,220);
	background-color:rgba(150,170,220,1.0);
	background-image:url(/lapcat/layout/images/1-13-0.png);
	background-repeat:repeat-x;
	border:1px solid rgb(0,0,0);
	border:1px solid rgba(0,0,0,1.0);
}
.option-theme:hover{
	background-color:rgb(40,85,230);
	background-color:rgba(40,85,230,1.0);
}

.border-bot-dark-1{border-bottom:1px solid rgba(40,85,230,0.8);}
.border-bot-off-1{border-bottom:1px solid rgba(25,40,70,1.0);}
.border-strong-1{border:1px solid rgba(40,85,230,1.0);}
.border-strong-2{border:2px solid rgba(40,85,230,1.0);}
.border-main-1{border:1px solid rgba(30,60,150 ,1.0);}
.border-main-2{border:2px solid rgba(30,60,150 ,1.0);}
.border-dark-1{border:1px solid rgba(150,170,220,0.3);}
.border-dark-2{border:2px solid rgba(150,170,220,0.3);}
.border-dark-3{border:1px solid rgba(150,170,220,0.6);}
.border-dark-4{border:2px solid rgba(150,170,220,0.6);}
.border-off-1{border:1px solid rgba(25,40,70,1.0);}
.border-off-2{border:2px solid rgba(25,40,70,1.0);}
/* Colors */
.color-background{background-color:rgba(150,170,220,1.0);}
.color-strong{background-color:rgba(40,85,230,1.0);}
.color-main{background-color:rgba(30,60,150 ,1.0);}
.color-dark{background-color:rgba(150,170,220,0.3);}
.color-darker{background-color:rgba(0,45,155,0.3);}
.color-darkest{background-color:rgba(0,60,190,0.3);}
.color-off{background-color:rgba(25,40,70,1.0);}
.color-heavy{background-color:rgba(25,40,70,0.6);}
/* Form */
.dropbutton{background-color:rgba(150,170,220,1.0); border:1px solid rgba(30,60,150 ,1.0); color:rgba(255,255,255,1.0); cursor:pointer;}
.dropbutton:hover{background-color:rgba(30,60,150 ,1.0); border:1px solid rgba(40,85,230,1.0); color:rgba(255,255,255,1.0);}
.dropdown{background-color:rgba(0,45,155,0.3); background-image:url(/lapcat/layout/images/18-18-0.png); background-repeat:repeat; border:1px solid rgba(30,60,150 ,0.6); color:rgba(255,255,255,1.0);}
.dropdown-main{background-color:rgba(255,255,255,1.0); border:1px solid rgba(40,85,230,1.0); color:#000000;}
/* Line and Open Line */
.line{background-image:none;}
.line:hover{background-color:rgba(150,170,220,0.6); cursor:pointer;}
.open-line{background-color:rgba(30,60,150 ,0.5); cursor:pointer; padding-right:8px; text-align:right;}
/* Options */
.menu-link{background-color:rgba(0,0,0,0); cursor:pointer;}
.menu-link:hover{background-color:rgba(30,60,150 ,0.3);}
.option-selected{background-color:rgba(150,170,220,0.6); cursor:pointer;}