@media only screen and (min-width: 1600px) { /* VERY Large window browsers */
  .childrenTree{
    background: none,url('/images/tree.svg') no-repeat;
    height:600px;
    width:600px;
    background-size:contain;
  }
}
@media only screen and (min-width: 1170px)  { /* Large window browsers */
  .childrenTree{
    background: none,url('/images/tree.svg') no-repeat;
    height:400px;
    width:400px;
  }
  .siteMap{
    width:100%;
  }
  .rightNav{display:none;}
}
@media only screen and (min-width:800px) { /* this is for browsers that are cool */
  
  .childrenTree{
    height:350px;
    width:350px;
    background: none, url('/images/tree.svg') no-repeat;
    background-size:contain;
  }
  .topHeader{
    background: #fff;
  }
  .siteMap{
    width:80%;
  }
  .firstNav{
    margin:0 0 10px 0;
  }
}
@media only screen and (max-width: 800px) { /* middle width */
  .rightNav{display:none;background:#f00;}
  :target{
    display:block;
    position:absolute;
    top:0px;
    margin-top:43px;
    right:5px;
    z-index:1000;
    background:@white;
    .dropShadow(@shadow);
  }
  .secondNav{
    display:block;
    .downShadow(@shadow);
  }
  .firstNav{
    height:44px;
    margin:0;
  }
  .topHeader{height:50px;}
  .mainArea{
    padding-top:65px;
  }  
  .siteMap{
    width:80%;
  }
  .middleSection{
    height:250px;
    width:100%;
  }
  .smallSection{display:none}
  .mediumSection,.middleSection,.middleSection a, .middleSection form,.mediumSection form, .mediumSection a{
    width:100%;
  }
  .mediumSection,.mediumSection a,.mediumSection form{
    height:60px;
    width:100%;
    background-size:100% 470px;
  }
  .mediumSection form select{
    position:absolute;
    top:10px; 
    left:335px;
    padding:5px;
    
  }
  .mediumSection form input{
    position:absolute;
    top:10px;
    left:5px;
    width:300px;
    padding:5px;
  }  
  nav h1{
    font-size: 1.2em;
    white-space:nowrap;
  }
  nav h3{
    font-size: 1.2em;
  }
  nav .logoTree{
    width:40px;
    height:40px;
  }  
  .childrenTree{
    height:300px;
    width:300px;
    background: none, url('/images/tree.svg') no-repeat;
    background-size:contain;
  }
  .navDisplay .grid_12{
    width:98%;
  }
  .mediumSection form input,.mediumSection form select{
    width:45%;
  }
  .surface .image1,.surface .image2{
    height:100px;
    width:100px;
    background-size:cover;
    overflow:hidden;
  }
  .surface .images{
    overflow:hidden;
    width:98%;
  }
  .surface .images,.images .images1,.images .images2,.fluxslider{
    width:200px;
  }
}
@media only screen and (max-width: 400px) { /* Portrait Phones */
  .subPageCatalogSearch{
    display:none;
  }
  .research,.events,.hours{
    display:none;
  }  
  :target{
    right:5px;
    margin-top:43px;
    z-index:1000;
    background:@white;
  }
  .siteMap{
    width:50%;
  }
  .siteMap a{
    display:block;
    width:100%;
  }
  nav h1{
    font-size: 1em;
    text-align:left;
    white-space:nowrap;
  }
  nav h3{
    font-size: 1em;
    text-align:left;
  }
  .copyright{
    width:33%;
  }
  .childrenTree{
    height:200px;
    width:200px;
    background:url("/images/tree.png") no-repeat;
    background-size:contain;
  }
  .siteMap a{
    display:block;
    padding:auto;
    margin:auto;
    border: none;
  }
  .logoTree{
    width:0px;
    height:0px;
  }
}

@media only screen and (min-width:200px){ /*everything should be here*/
  .siteMap{
    width:100%;
    .secondNav{
      width:100%;
      display:inline-block;
    }
    a{
      display:block;
    }  
  } 
}
/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}