@import url("../reset.css");

/*  Start of theme related CSS 
 This is the css that will flow around all of the projects to keep them feeling like they are part of a larger collection
 * */
/*@import url("../sprite.css");*/

@import url("theme.less");
@import url("buttons.less");
@import url("roundCorners.less");


::-moz-selection { background: @color1; color: @colorDark; text-shadow: none; }
::selection { background: @color1; color: @colorDark; text-shadow: none; }


#topBooksTeenContainer img{
	width:300px;
}

#topBooksTeenContainer .fluxslider .image1,#topBooksTeenContainer .fluxslider .image2,#topBooksTeenContainer .fluxslider .image1 div{
	background-size:300px 400px;
}
.siteMap{
	height:auto;
}

.siteMap a{
	display:block;
	padding:3px;
	margin:5px;
	white-space: nowrap;
}

.childrenGrass{
	height:130px;
	width:100%;
	z-index:1;
	position: relative;
}
.menuDropDown{display:none;}
@media only screen and (min-width: 1600px) { /* VERY Large window browsers */
  .childrenTree{
    background: none,url('/images/tree.svg') no-repeat;
    height:600px;
    width:600px;
  }
}
@media only screen and (min-width: 1170px)  { /* Large window browsers */
	.childrenTree{
		background: none,url('/images/tree.svg') no-repeat;
		height:400px;
		width:400px;
	}
	.siteMap{
		width:100%;
		-moz-column-count:3;
		-moz-column-gap: 1em; 
		-moz-column-rule: 4px groove rgba(0,0,0,.2); 
		-webkit-column-count: 3; 
		-webkit-column-gap: 1em; 
		-webkit-column-rule: 4px groove rgba(0,0,0,.2);
		column-count: 3; 
		column-gap: 1em; 
		column-rule: 4px groove rgba(0,0,0,.2);
	}
	.siteMap a{
		display:block;
		padding:auto;
		margin:auto;
		border: none;
	}
	
}
@media only screen and (min-width:799px) and (max-width: 1169px) { /* this is for browsers that are cool */
	.childrenTree{
		height:350px;
		width:350px;
		background: none, url('/images/tree.svg') no-repeat;
	}
	.siteMap{
		width:80%;
		-moz-column-count:3;
		-moz-column-gap: 1em; 
		-moz-column-rule: 4px groove rgba(0,0,0,.2); 
		-webkit-column-count: 3; 
		-webkit-column-gap: 1em; 
		-webkit-column-rule: 4px groove rgba(0,0,0,.2);
		column-count: 3; 
		column-gap: 1em; 
		column-rule: 4px groove rgba(0,0,0,.2);
	}
	.siteMap a{
		display:block;
		padding:auto;
		margin:auto;
		border: none;
	}
	
}
@media only screen and (min-width:401px) and (max-width: 800px) { /* middle width */
  .menuDropDown{display:block;}
  :target{
    background:#fff;
    display:block;
    position:absolute;
    top:0px;
    right:0px;
    z-index:1000;
  }
  .siteMap{
    width:80%;
    -moz-column-count:2;
    -moz-column-gap: 1em; 
    -moz-column-rule: 4px groove rgba(0,0,0,.2); 
    -webkit-column-count: 2; 
    -webkit-column-gap: 1em; 
    -webkit-column-rule: 4px groove rgba(0,0,0,.2);
    column-count: 2; 
    column-gap: 1em; 
    column-rule: 4px groove rgba(0,0,0,.2);
  }
  nav h1{
    font-size: 1.2em;
    white-space:nowrap;
  }
  nav h3{
    font-size: 1.2em;
  }
  nav .logoTree{
    width:40px;
    height:40px;
  }  
  .childrenTree{
    height:300px;
    width:300px;
    background: none, url('/images/tree.svg') no-repeat;
  }
  .siteMap a{
    display:block;
    padding:auto;
    margin:auto;
    border: none;
  } 
  .subPageCatalogSearch{
    display:none;
  }
  .research,.events,.hours{
    display:none;
  }
  .navDisplay .grid_12{
    width:98%;
  }
  .mediumSection form input,.mediumSection form select{
    width:45%;
  }
  .surface .image1,.surface .image2{
    height:100px;
    width:100px;
    background-size:cover;
    overflow:hidden;
  }
  .surface .images{
    overflow:hidden;
    width:98%;
  }
  .surface .images,.images .images1,.images .images2,.fluxslider{
    width:200px;
  } 
}
@media only screen and (max-width: 400px) { /* Portrait Phones */
  .secondNav{display:none;}
  .menuDropDown{display:block;}
  :target{
    background:#fff;
    display:block;
    position:absolute;
    top:0px;
    right:0px;
    z-index:1000;
  }
  .siteMap{
    width:50%;
    -moz-column-count:1;
    -moz-column-gap: 1em; 
    -moz-column-rule: 4px groove rgba(0,0,0,.2); 
    -webkit-column-count: 1; 
    -webkit-column-gap: 1em; 
    -webkit-column-rule: 4px groove rgba(0,0,0,.2);
    column-count: 1; 
    column-gap: 1em; 
    column-rule: 4px groove rgba(0,0,0,.2);
  }
  nav h1{
    font-size: 1.2em;
    text-align:center;
    white-space:nowrap;
  }
  nav h3{
    font-size: 1.2em;
    text-align:center;
  }
  .copyright{
    width:33%;
  }
  .childrenTree{
    height:200px;
    width:200px;
    background:url("/images/tree.png") no-repeat;
  }
  .siteMap a{
    display:block;
    padding:auto;
    margin:auto;
    border: none;
  }
  .logoTree{
    width:0px;
    height:0px;
  }
}
.childrenTree{
	z-index:1;
	background-size:contain;
	position:absolute;
	bottom:30px;
	right:-5%;
}


.t{display:table; width:100%;}
.td{display:table-cell;vertical-align: top;}
.tr{display:table-row;}

.check:before{
	margin-right:.3em;
	font-family: 'IconicFill';
}
.blackText:before{
	color:@colorDark;
}
.locationHover{
	display:block;
	text-align:left;
	cursor:pointer;
}
/*
 * All layouts
 *  
 */

.floatingHeader{
	position:absolute;
	left:100px;
	top:10px;
	opacity:1;
	z-index: 10;
	color:@colorDark;
	font-size:40px;
	font-weight:bold;
}

.roundAll2 {
  .rounded-corners(2px)
}
.roundAll3 {
  .rounded-corners(3px)
}
.roundAll4 {
  .rounded-corners(4px)
}
.mobileSchedule{
	background:url("/images/mobilelibraryschedule.png") no-repeat scroll 50% 50% transparent;
	display:block;
	height:121px;
	width:176px;
	text-indent:-99999px;
}
.downloadsNav{
	background:url("/images/download.jpg") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
	
}
.catalogNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
}
.researchNav{
	background:url("/images/research.jpg") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
}
.genealogyNav{
	background:url("/images/genealogy.jpg") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
}
.eventsNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
}
.hoursNav{
	background:url("http://maps.googleapis.com/maps/api/staticmap?center=41.609126,-86.721036&zoom=9&size=230x100&sensor=false") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
}
.greatPicksNav{
	background:url("/images/cardCatalog.jpg") no-repeat scroll 50% 50% transparent;background-size:230px 100px;
}

.topNav{
	width:940px;
}
.firstNav{
}
.secondNav{
	font-weight:bold;
	font-size:15px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
.logoTree{
  max-height:75px;
  max-width:68px;
  /*width="68px" height="75px"*/
}


.subPageHeader{
	font-size:50px;
	height:120px;
	padding:3px 3px 3px 10px;
	margin:0 5px 10px 5px;
	background-size:cover;
}
.subPageCatalogSearch{
	position:absolute;
	right:6px;
	top:1px;
	opacity:1;
	z-index: 10;
	background:#E0E0E0;
	padding:5px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}


.subPageHeader div{
	display:table-cell;
	vertical-align:middle;
	white-space:nowrap;
	height:90px;
	width:100%;
}
.secondNav a:hover,.firstNav a:hover,.eventFeedTitle a:hover{
	color:@colorDark;
	text-decoration:none;
}

/* Full Screen */

/* Teen Section */

.countDownBox{
	height:150px;
	width:310px;
	margin-bottom:10px;
	background-image:url("/images/avengers-cartoon.jpg");
	background-size:100% 100%;
}
.countDownContainer{
	background:@colorDark;
	background:@colorDark60;
	margin-left:50%;
	height:100%;
}
.countDownDays,.countDownHours,.countDownMinutes,.countDownSeconds{
	
	padding:3px;
	color:#FFF;
	white-space:nowrap;
	font-family: '' , arial, serif; 
	font-size:19px;
	font-weight:bold;

}
.countDownDays{
	padding-top:3px;
}
.locationBoxInfo{
	width:40%;
	float:left
}
.locationBoxMap{
	width:60%;
	float:left
}
.fLeft{
	float:left;
}
.fright{
	float:right;
}
.centerBox{
	margin:0 auto;
	width:918px;
}

.topHeader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:112px;
	padding:2px;
	z-index:999;
}
.menuSelect{
	width:160px;
	overflow:hidden;
	height:25px;
	line-height:25px;
	text-align:center;
}
.menuSelect a{
	white-space:nowrap;
}
.menuSelect:hover{
	background:rgba(255,255,255,.7);
}
.topMenu {
	text-align:left;
	margin:0 auto;
	width:684px;
	background-position: center;
	font-family:sans-serif;
	font-weight: bold;
	line-height:19px;
	font-size:16px;
}
li{
	list-style: none outside none;
}

aside div,section div,.smallSection,.middleSection,.mediumSection{
	margin-bottom:10px;
}
.sectionText{
	position:absolute;
	bottom:0px;
	right:0px;
	background:#FFF;
	padding:3px;
}
.geekOfTheWeek{
	background:url("http://www.laportelibrary.org/images/geek/week04.png") no-repeat;
	margin:10px 0 10px 0;
	text-indent:-99999px;
	height:310px;
	max-width:100%;
}
.smallSection,.mediumSection,.middleSection{
	display:block;
	background:#000 no-repeat;
	position:relative;
}
.navDisplay:hover .smallSection a,
.navDisplay:hover .middleSection form,
.navDisplay:hover .mediumSection form,
.navDisplay:hover .middleSection a,
.navDisplay:hover .middleScrollContainer div{
	opacity:.6;
}

.navDisplay .smallSection a:hover,
.navDisplay .mediumSection a:hover,
.navDisplay .middleSection form:hover,
.navDisplay .middleSection a:hover,
.navDisplay .mediumSection form:hover,
.navDisplay .middleSectionScroll:hover .middleSection ,
.navDisplay .middleSectionScroll:hover div
{
	opacity:1;
}
.smallSection,.smallSection a{
	height:100px;
	width:100%;
	background-size:cover;
}
.mediumSection,.mediumSection a,.mediumSection form{
	height:60px;
	width:470px;
	background-size:100% 470px;
}
.mediumSection form select{
	position:absolute;
	top:10px; 
	left:335px;
	padding:5px;
	
}
.mediumSection form input{
	position:absolute;
	top:10px;
	left:5px;
	width:300px;
	padding:5px;
}

#container{
	position:relative;
	z-index:10;
}
.middleSection,.middleSection form,.middleSection a{
	height:250px;
	width:470px;
	background-size:cover;
}
.middleSectionScrollContainer,.middleSectionScrollContainer a{
	width:100%;
	background-size:cover;
}

.fixMargin{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.middleSection form:hover,.smallSection:hover a,.mediumSection form:hover,.mediumSection a:hover{
	opacity:1;
}
.shadowBox{
	position:absolute;
	top:-3px;
	left:-3px;
}


/*	rotating middle section code Start*/

.fluxslider{
	height:!important auto; 
}
.pagination{
	position:absolute;
	bottom:5px;
	right:10px;
	width:auto;
	z-index:101;
}
.pagination li{
	height:15px;
	width:15px;
	text-indent:-9999px;
	border:white solid 1px;
	border:rgba(209,214,204,.7) solid 1px;
	background:#ccc;
	background:rgba(209,214,204,.6)
}
.pagination li.current{
	border:rgb(255,255,255) solid 1px;
	border:rgba(174,224,127,.7) solid 1px;
	background:#ccc;
	background:rgba(174,224,127,.6)
}

/*	rotating middle section code End */

.twitterBox,.twitterContainer,.deliciousBox{
	position:relative;
	width:100%;
	background:#FFF;
}
.mainContentBox{
	position:relative;
	height:436px;
	width:100%;
	background:#FFF;
	margin-right:10px;
}
#greatPicksContainerBox .rssItem img{
	width:100px;
}
.blogBox,.blogContainerBox,.containerBox,.bookBox{
	position:relative;
	background:#FFF;
	min-height:100px;
}
.blogContainerBox li{
	display:block;
}

.blogEntryDescription a{
	white-space:nowrap;
}
.blogEntryDescription iframe{
	display:none;
}
.blogEntryDescription a:after{
	font-size:10px;
	content:" K ";
	font-family: 'WebSymbolsRegular';
}

.blogEntryDescription a[href*="catalog.lapcat.org"]:after,.rssDescription a[href*="catalog.lapcat.org"]:after{
	font-size:10px;
	content:" ��� ";
	font-family: 'IconicFill';
}
.blogEntryDescription .noAfterImage:after {content:""}

.blogContainerBox,.deliciousContainer,.containerBox{
	padding:30px 5px 5px 5px;
}
.blogItem{
	width:100%;
	padding:3px;
}
.blogItem div{
	width: 100%;
}
.blogEntryTitle{
	font-size:20px;
	min-width:250px;
	max-width:500px;
	border-bottom:rgba(0,0,0,.2) solid 1px;
	margin-bottom:3px;
	
}
.blogEntryTitle a{
	color:#0C717A;
}
.blogEntryTitle a:hover{text-decoration:none;}
.blogEntryAuthor{
	font-size:10px;
	color:#999;
}
.blogEntryDescription{
	width:600px;
	overflow:hidden;
}
.soonCalendar ul{
	margin:15px;
}
/**
 * Title and Button elements	
 * 
 */
.soonCalnedarInfo div{
	height:120px;
	width:180px;
	padding:6px;
}
.soonCalendarDisplay{
	position:relative;
	margin:15px;
	height:120px;
	width:100%;
	background:#FFF;
	overflow:hidden;
}
.soonCalendarContainer{
	position: absolute;
	top:0px;
	left:40px;
	display:table;	
}
.subTitleElement a{
	display:inline-block;
	margin-left:3px;
}
.subTitleElement a.selected{
	margin-left:3px;
}
.soonCalendarNext,.soonCalendarBack,.twitterFeedTitle,.mainContentTitle,.blogTitle,.deliciousFeedTitle,.eventFeedTitle,.titleElement{
	cursor:pointer;
	padding:6px;
	position:absolute;
	top:60px;
	right:18px;
	white-space: nowrap;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	z-index:5;
}

.twitterFeedTitle2:after{
	content:"";
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid red;
}
.soonCalendarBack{
	right:800px;
}
.twitterFeedTitle,.deliciousFeedTitle,.blogTitle,.titleElement{
	left:0px;
	right:auto;
	top:-5px;
	width:auto;
}
.titleElement a{
	color: #F1F1F1;
}
.titleElement a:hover,.subTitleElement a:hover{
	text-decoration:none;
}
.eventFeedTitle{
	left:350px;
	right:350px;
	width:auto;
	top:3px;
	text-align:center;
}
.deliciousFeedTitle:before{
	font-size:12px;
	content:"B ";
	font-family: 'WebSymbolsRegular';
}
.twitterFeedTitle:before{
	font-size:12px;
	content:"t ";
	font-family: 'WebSymbolsRegular';
}
.blogTitle:before{
	font-size:12px;
	content:"v ";
	font-family: 'WebSymbolsRegular';
}
.mainContentTitle{
	right:525px;
	top:-5px;
}
.middleSectionScroll{
	display:inline-block;
	width:10px;
	height:10px;
	background-color:rgba(255,255,255,.4);
	border:solid 1px rgba(255,255,255,.6);
	cursor: pointer;
	margin:2px;
	/*
	border-radius:5px;
	-moz-border-radius:5px;
	webkit-border-radius:5px;
	*/	
}
.middleSectionScroll:hover{
	background-color:rgba(132,185,189,.4);
	border:solid 1px rgba(132,185,189,.6);
}

.blogTitle a:hover,.twitterFeedTitle a:hover,.deliciousFeedTitle a:hover{text-decoration:none;}
.secondNav a,.firstNav a{color:#000;}

.delItem .delFavIcon{
	display:inline-block;
	height:16px;
	width:16px;
	margin-right:3px;
}
.deliciousContainer{
	padding:25px 5px 5px 5px; 
	width:300px;
}
.rssItem{
	padding:3px 40px 3px 10px;

}

.rssTitle,.NUTITLE{
	font-size:18px;
	display:block;
	margin-bottom:5px;
}
.rssDate{
	position:absolute;
	top:3px;
	right:3px;
}
b{font-weight:normal;}




/* ==|== media queries ====================================================== */







/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
