h1 { font-family: 'Jacques Francois'; font-style: normal; font-weight: normal; }
h2 { font-family: 'Orienta'; font-style: normal; font-weight: normal; }
.webSymbols { font-family: 'WebSymbolsRegular'; }
