footer {
  z-index:20;
  position:relative;
  width:100%;
  z-index: 10;
  background:@colorBlue9;
  * { 
    vertical-align:top; 
  }
  h3{
    text-shadow:0px 2px 4px @colorBlue9, 0 0 0 #000, 0px 2px 4px @colorBlue9;
    color:@colorDark;
    color:rgba(0,0,0,.3); 
  }
  .socialLinks{
    margin:2em 0 1em 0;
    opacity:.9;
    height:auto;
    li{
      width:3.615em;
      display:inline-block;
      position:relative;
      top:-6px;
    }
  }
  .footerLeft,.footerRight{
    display:inherit;
  }
  .footerLeft {
   //width:100%; 
  }
  .footerRight {
    //width:18em;
  }
  .form-actions,.form-item{
  //  display:table-cell;
  }
  #search-block-form{
    box-shadow: inset 0 0 1px 1px @shadow;
    background:rgba(0,0,0,.3);
    margin:5px;
    padding:.3em;
    width:14em;
    font-size:1.1em;
    .form-text{
      width: 9.5em;
      margin-right: .5em;
    }
    input{
      color:@colorDark;
      height:1.5em;
      background: rgba(255, 255, 255, 0.3);
      .rounded-corners(3px);
      border:none;
    }
  }
  #pageLinks {
   .region div{
     padding:.5em;
   }
   li{
    font-size:1.3em;
    padding:3px;
    a{ color:@colorLight60; white-space:nowrap;}
    } 
  }
}