footer {
  width:100%;
  background:@colorBlue9;
  .region-pagelinks{
    display: flex;
    flex-flow: row;
    justify-content:space-around;    
  }
  * { 
    vertical-align:top; 
  }
  h3{
    font-size:1.8em;
    color:@colorLight60;
  }
  #pageLinks {
   .region div{
     padding:.5em;
   }
   li{
    padding:.1em;
    color:@black;
    white-space:nowrap;
   } 
  }
}