footer {
  width:100%;
  background:lighten(@colorBlue9,20%);
  font-weight:bold;
  .region-pagelinks{
    display: flex;
    flex-flow: row;
    justify-content:space-around;    
  }
  .mobileLibrary{
    img{
      height: 8em;
      margin: 1em 4em;
      &:hover{
        animation: rockTheBus 1s 2s 3 alternate backwards
      }  
    }
  }
  * { 
    vertical-align:top; 
  }
  h3{
    font-size:1.8em;
    color:@colorDark;
  }
  #pageLinks {
   .region div{
     padding:.5em;
   }
   li{
    padding:.1em;
    color:@black;
    white-space:nowrap;
   } 
  }
}
@keyframes rockTheBus {
  0%   { transform:rotate(0deg); }
  10%   { transform:rotate(-10deg); }
  20%   { transform:rotate(0deg); }
  30%   { transform:rotate(10deg); }
  40%   { transform:rotate(0deg); }
  50%   { transform:rotate(-10deg); }
  60%   { transform:rotate(0deg); }
  70%   { transform:rotate(10deg); }
  80%   { transform:rotate(0deg); }
  70%   { transform:rotate(-10deg); }
  100% { transform:rotate(-10deg); }
}