.shadowColors{
  //background:fadeout(@colorGreen1,80%);
  background:@colorLight;
  margin:0 auto;
  margin-top:1em;
  width:88em;
}


.banner{
  margin:0 auto;
  position: relative;
  display: block;
  overflow: hidden;
  //width: 88em;
  width: 88em;
}


.flexslider{
  border:none;
  margin:none;
  background:@colorLight;
  padding:3em;
  .slides{
//   display:table;
  }
  .flex-direction-nav{display:none;}
  .flexslider-views-slideshow-main-frame-row{
  //  display:table;
  
  .flex-caption {
  //    background: @black;
  //    color: @white;
  //    width: 33%;
  //    font-size: 2.2em;
  //    padding-top: 0.3em;
  //    text-transform:capitalize;
  //    display:table-cell;
  //    vertical-align:top;
  //    line-height:1em;
    display:none;
    }
    a{
      display:block;
      width:100%;
    }
  }
}
/* needed for fades
.flexslider-views-slideshow-main-frame{
  li{
    display:block;
    position:absolute;
    top:0;
    left:0;
  }
}
*/

/*
.articleHighlight{
  .column(4);
  margin:0px 0.55773em 0px 2.22147em;
  vertical-align:top;
}
.articleBlocks{
  .column(9);
  vertical-align:top;
}
*/
.flex-control-nav {
  bottom:1em;
  right:1em;
  //width:51px;
  z-index:9999;
  display:block;
 li {
   a {
     .animate();
     height:1em;
     width:1em;
    .colorHover(@navy);
   }
   a.flex-active {
     .colorHover(@colorBlue9);
   }
 } 
}
.newArticles{
  margin:1em 0;
  background:@colorLight;
  padding:1em 0;
  overflow:auto;
  width:100%;
  &:after{
    clear: both;
    content: "";
    display: block; 
  }
  h1{
 
  }
}
.articleBlocks{
  width:55em;
  .view-newest-article-blocks{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  .views-row{
    display:inline-block;
  }

}
.newArticlesContainer{
  display:flex;
  justify-content: space-around;
}
.articleHighlight{
  width:23em;
  .articleEntryDescription{
    height: 15em;
    display: block;
    
  }
  .articlePicture{
    .picture{
      height:220/13em;
      width:274/13em;
      img{
        height:100%;
        width:100%;
      }
    }  
  }
}

 
  
   

.tagRow{
  padding:.5em;
  display:flex;
  justify-content: space-around;
  a[href*="taxonomy"]{
    font-size:1.2em;
    width:auto;
    min-width:5.5em;
    padding:.3em;
    margin:.1em;
    &:after{border:none;}
  }
}
.articlePicture{
  .articleEntryDescription:empty{display:none;}
  height:18.461538462em;
  width:16.923076923em;
  margin:1em 0;
  display:table;
  .picture{
    height:165/13em;
    width:220/13em;
    background:@gray;
    img{height:100%;width:100%;}
  }
  .title{
    color:@colorDark;
    font-size:1.2em;
  }
}
  

