.shadowColors{
  background:@gray;
}
.flexslider{
  border:none;
  margin:none;
  .slides{
   display:table;
   &:before{
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
    top: 0;
    //background: -moz-linear-gradient(to right, @gray 5%, rgba(87, 87, 87, 0) 100%);
    background: linear-gradient(to right, @gray 5%, rgba(87, 87, 87, 0) 100%); 
    z-index:999;
   }
   &:after{ 
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    right: 0;
    top: 0;
    //background: -moz-linear-gradient(to left, @gray 5%, rgba(87, 87, 87, 0) 100%);
    background: linear-gradient(to left, @gray 5%, rgba(87, 87, 87, 0) 100%);
    z-index:999;
    visibility: visible;
   }
  }
  .flex-direction-nav{display:none;}
  .flexslider-views-slideshow-main-frame-row{
    display:table;
  .flex-caption {
      background: @black;
      color: @white;
      width: 33%;
      font-size: 2.2em;
      padding-top: 0.3em;
      text-transform:capitalize;
      display:table-cell;
      vertical-align:top;
      line-height:1em;
    }
    a{
      display:table-cell;
      width:67%;
    }
  }
} 
.flexslider-views-slideshow-main-frame{
  li{
    display:block;
    position:absolute;
    top:0;
    left:0;
  }
}
.flex-control-nav {
  bottom:1em;
  right:1em;
  width:51px;
  z-index:9999;
  display:block;
 li {
   a {
     .animate();
     height:1em;
     width:1em;
    .softColor(@navy);
    &:hover{
       .softColor(lighten(@navy,10%));
     }
   }
   a.flex-active {
    .softColor(@colorBlue6);
   }
 } 
}
.newArticles{
  margin:1em 0;
  background:@colorLight;
  padding:1em 0;
  overflow:auto;
  width:100%;
  &:after{
    clear: both;
    content: "";
    display: block; 
  }
}
.articleBlocks{
  .views-row{
    display:inline-block;
  }
}
.articleHighlight{
  .articleEntryDescription{
    height: 15em;
    display: block;
  }
  .articlePicture{
    .picture{
      height:220px;
      width:274px;
    }  
  }
  
}
.tagRow,.articlePicture{
  a[href*="taxonomy"]{/*These are tags on items*/
    width:100%;
    display:block;
    .softColor(@navy);
    padding:0 .5em;
    .animate(500ms);
    &:hover{
      .softColor(lighten(@navy,10%));
    }
    color:@colorLight;
    position:relative;
    &:after{
      content:"";
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 0 18px 18px;
      border-color: transparent transparent @colorYellow1 transparent;
      position: absolute;
      right: 0;
    }
  }
  a[href*="taxonomy/term/52"]{//Adult
    &:after{
      border-color: transparent transparent @colorGreen1 transparent;
    }
  }
  a[href*="taxonomy/term/8"]{//Children
    &:after{
      border-color: transparent transparent @colorRed1 transparent;
    }
  } 
  a[href*="taxonomy/term/50"]{//Teens
    &:after{
      border-color: transparent transparent @colorBlue9 transparent;
    }
  }
  a[href*="taxonomy/term/11"]{//History
    &:after{
      border-color: transparent transparent @colorBrown1 transparent;
    }
  } 
}
.tagRow{
  height:1em;
  padding:1.2em 2em;
  clear: both;
  display:table;
  width:100%;
  a[href*="taxonomy"]{
    display:inline-block;
    font-size:1.2em;
    display:table-cell;
    width:auto;
    &:after{border:none;}
  }
  a[href*="taxonomy/term/52"]{//Adult
    .softColorHover(@colorGreen1);
  }
  a[href*="taxonomy/term/8"]{//Children
    .softColorHover(@colorRed1);
  } 
  a[href*="taxonomy/term/50"]{//Teens
    .softColorHover(@colorBlue9);
  }
  a[href*="taxonomy/term/11"]{//History
    .softColorHover(@colorBrown1);
  }
}
.articlePicture{
  .articleEntryDescription:empty{display:none;}
  height:18.461538462em;
  width:16.923076923em;
  margin:1em 0;
  display:table;
  .picture{
    height:165px;
    width:220px;
    background:@gray;
  }
  .title{
    color:@colorDark;
    font-size:1.2em;
  }
}
  

