/*New header*/
nav{position:relative;}
.masterHeader{
  
}
.masterHeaderMenu{
  right: 0;
  position: absolute;
  bottom: 0;
  .logoImage{
    height:12em;
  }
  #menuHeader{}
  ul{
    li{
      .softColor(@colorBlue6);
      padding:.5em;
      margin:0;
      display:inline-block;
      font-size:1.7em;
      &:hover{
        .softColor(lighten(@colorBlue6,10%));
      }
      a{color:@colorLight;}
    }  
  }
  
}
.colorWave{
  .rainbow(@colorGreen1,@colorRed1,@colorBlue1,@colorBlue4,@colorBlue6,@colorYellow1,@colorGreen2,@colorYellow2);
  height:.5em;
  width:100%;
  background-size:42%;
}
header{
  margin:0 auto;
  width:@total-width;
  position:relative;
}
.spc-Search{
 padding-right:1em;
 width:40%;
 position:absolute;
 top:.5em;
 right:.5em;
 .spc-SearchBox{
    input{
      margin-right: 1em;
      width:100%;
    }
  }
  .catalog{
    form{
      height:4em;
      padding-top:.6em;
      input{
        padding:.4em;
        border:none;
        font-size: 1.3em;
      }
    }
    .spc-Submit{
      input{
        line-height:normal;
        margin:0;
        height:2.7rem;
      }
    }
  }
}




label{
  display: inline-block;
  color: @colorDark;
  color:fadeout(@colorDark,70%);
  font-size:2.4em;
  text-shadow:0px 5px 4px @color2, 0 0 0 #000, 0px 2px 4px @color2;
  cursor:pointer;
}
    
input[type=checkbox].menuToggle {
 position: absolute;
 top: -9999px;
 left: -9999px;
  @media only screen and (min-width: .1em){
  /* For mobile, it's typically better to position checkbox on top of clickable
    area and turn opacity to 0 instead.
    http://css-tricks.com/the-checkbox-hack/  
  */
    top: 19px;
    left: 58px;
    z-index:9999;
    opacity:0;
  }

}
  input[type=checkbox]:checked ~ #menuHeader {
   opacity:1;
   height:4em;
  }
  #menuHeader{} 
