<page><div style="padding-right:4px; width:auto;">
	<div class="border-bot-off-1 color-hex" id="interface-content-header-1" style="float:left; padding-left:4px; height:17px; width:100%;">
		<font class="gold" style="font-size:14px;">Black & White Masquerade</font>
	</div>
	<div style="float:left; width:100%;">
		<div style="padding:5px; margin:5px; height:400px; overflow:auto" class= "color-dark border-main-1">
	        <font>
	        <font style="font-size: 150%; line-height: normal;">List of Materials</font>
            <br>
			<table style="width:100%;">
				<tr><td style="width:180px;">Credited To</td><td>Name (Link)</td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Adams, Douglas</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0345391802');">Hitchhiker's Guide to the Galaxy</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Alexie, Sherman</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316013680');">Absolutely True Diary of a Part-Time Indian</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Arakawa, Hiromu</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316013680');">FullMetal Alchemist vol. 17</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Arakawa, Hiromu</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781421525365');">FullMetal Alchemist vol. 18</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Arakawa, Hiromu</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781421525686');">FullMetal Alchemist vol. 19</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Auseon, Andrew</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780061139246');">Jo Jo and the Fiendish Lot</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Barron, T.A.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780399247507');">Merlin's Dragon</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Beddor, Frank</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0803731531');">Looking Glass Wars</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Beddor, Frank</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780803731554');">Seeing Redd</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Beddor, Frank</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780981873701');">Hatter M</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Bunce, Elizabeth C.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780439895767');">Curse as Dark as Gold</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Cabot, Meg</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780545040563');">Being Nikki</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Cabot, Meg</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780060837648');">Jinx</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Cabot, Meg</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780060755867');">Avalon High</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Cabot, Meg</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780545040525');">Airhead</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Cashore, Kristin</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780152063962');">Graceling</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Cashore, Kristin</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780803734616');">Fire</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Cast, P.C.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780312360269');">Marked (House of Night 1)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Cast, P.C.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780312360306');">Chosen (House of Night 3)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Cast, P.C.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780312379827');">Hunted (House of Night 5)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Cast, P.C.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780312379834');">Untamed (House of Night 4)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Cast, P.C.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780312360283');">Betrayed (House of Night 2)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Clare, Cassandra</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781416914280');">City of Bones</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Clare, Cassandra</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781416914303');">City of Glass</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Clare, Cassandra</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781416914297');">City of Ashes</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Collins, Suzanne</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780439023481');">The Hunger Games</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Collins, Suzanne</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780439023498');">Catching Fire</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Curtis, Christopher Paul</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780440414124');">The Watsons Go to Birmingham 1962</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Dessen, Sarah</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780670011940');">Along for the Ride</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Dessen, Sarah</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780142410974');">Just Listen</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Dessen, Sarah</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780670010882');">Lock and Key</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Dumas, Alexandre</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0451521951');">Count of Monte Cristo</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Forman, Gayle</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780525421030');">If I Stay</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Goldman, William</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780151015443');">Princess Bride</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Green, John</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780525476887');">An Abundance of Katherines</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Green, John</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780142402511');">Looking for Alaska</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Green, John</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780525478188');">Paper Towns</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Greenberg, David</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780525479673');">A Tugging String</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Hinton, S.E.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780670532575');">The Outsiders</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Johnson, Maureen</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0060541415');">13 Little Blue Envelopes</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Johnson, Maureen</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780545096324');">Suite Scarlett</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Kerouac, Jack</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780670063260');">On the Road</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Kishimoto, Masashi</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781421529295');">Naruto vol. 43</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Kishimoto, Masashi</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781421531342');">Naruto vol. 44</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Kishimoto, Masashi</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781421531359');">Naruto vol. 45</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Klause, Annette Curtis</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780440226680');">Blood and Chocolate</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Krakauer, Jon</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i067942850X');">Into the Wild</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Leonard, Mike</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780345481498');">Ride of Our Lives</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Marchetta, Melina</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780061431838');">Jellicoe Road</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Martel, Yann</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780156030205');">Life of Pi</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Mashima, Hiro</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780345501332');">Fairy Tail vol. 1</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Mashima, Hiro</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780345503305');">Fairy Tail vol. 2</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Mashima, Hiro</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780345505569');">Fairy Tail vol. 3</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Mashima, Hiro</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780345505576');">Fairy Tail vol. 4</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">McCaughrean, Geraldine</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780060890360');">The White Darkness</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">McDonald, Abby</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780763639365');">Sophomore Switch</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Meyer, Stephenie</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316038379');">Twilight</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Meyer, Stephenie</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316160193');">New Moon</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Meyer, Stephenie</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316160209');">Eclipse</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Meyer, Stephenie</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316067928');">Breaking Dawn</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Meyer, Stephenie</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316068048');">The Host</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Paolini, Christopher</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780375826696');">Eragon</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Paolini, Christopher</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780375840401');">Eldest</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Paolini, Christopher</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780375826726');">Brisingr</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Pauley, Kimberly</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780786950287');">Sucks to be Me</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Reeve, Philip</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781599903033');">Mothstorm: The Horror from Beyond Georgium Sidus!</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Riordan, Rick</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780786838653');">The Lightning Thief (Percy Jackson 1)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Riordan, Rick</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780786856862');">Sea of Monsters (Percy Jackson 2)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Riordan, Rick</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781423101451');">Titan's Curse (Percy Jackson 3)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Riordan, Rick</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781423101468');">Battle of the Labyrinth (Percy Jackson 4)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Riordan, Rick</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781423101475');">The Last Olympian (Percy Jackson 5)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780545069670');">Harry Potter and the Sorcerer's Stone</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780439064866');">Harry Potter and the Chamber of Secrets</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780439136358');">Harry Potter and the Prisoner of Azkaban</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0439139597');">Harry Potter and the Goblet of Fire</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i043935806X');">Harry Potter and the Order of the Phoenix</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780439785969');">Harry Potter and the Half Blood Prince</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Rowling, J.K.</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780545010221');">Harry Potter and the Deathly Hallows</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316603409');">Living Nightmare (Cirque du Freak 1)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316606103');">Vampire's Assistant (Cirque du Freak 2)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0316607630');">Tunnels of Blood (Cirque du Freak 3)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316605427');">Vampire Mountain (Cirque du Freak 4)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316603676');">Trials of Death (Cirque du Freak 5)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316607094');">The Vampire Prince (Cirque du Freak 6)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i0316605964');">Hunters of the Dusk (Cirque du Freak 7)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316114370');">Allies of the Night (Cirque du Freak 8)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316156264');">Killers of the Dawn (Cirque du Freak 9)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316156271');">The Lake of Souls (Cirque du Freak 10)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316156288');">Lord of the Shadows (Cirque du Freak 11)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316156295');">Sons of Destiny (Cirque du Freak 12)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316012331');">Lord Loss (Demonata 1)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316012379');">Demon Thief (Demonata 2)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316013871');">Slawter (Demonata 3)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316013895');">Bec (Demonata 4)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316003773');">Blood Beast (Demonata 5)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316003797');">Demon Apocalypse (Demonata 6)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316003810');">Death's Shadow (Demonata 7)</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Shan, Darren</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780316048903');">Wolf Island (Demonata 8)</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Showalter, Gena</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780373210022');">Intertwined</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Silag, Lucy</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781595142221');">Beautiful Americans</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Stiefvater, Maggie</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780545123266');">Shiver</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Trigiani, Adriana</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780061451027');">Viola in Reel Life</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Twain, Mark</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780451530943');">Adventures of Huckleberry Finn</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Westerfeld, Scott</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780689865381');">Uglies</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Westerfeld, Scott</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780689865398');">Pretties</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Westerfeld, Scott</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781416947950');">Specials</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Westerfeld, Scott</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781416951179');">Extras</a></td></tr>

				<tr><td style="width:180px;"><font style="font-size:12px;">Westerfeld, Scott</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9781595140838');">Peeps</a></td></tr>

				<tr class="color-dark"><td style="width:180px;"><font style="font-size:12px;">Woodson, Jacqueline</font></td><td><a href="javascript:F_SetDockable('Catalog','http://catalog.lapcat.org/search/i9780399246555');">Peace, Locomotion</a></td></tr>

			</table>
    	    <br>
			</font>
		</div>
	</div>
</page>