<page><div style="padding-right:4px; width:auto;">
	<div class="border-bot-off-1 color-hex" id="interface-content-header-1" style="float:left; padding-left:4px; height:17px; width:100%;">
		<font class="gold" style="font-size:14px;">Most Recent Update</font>
	</div>
	<div style="float:left; width:100%;">
		<div style="padding:5px; margin:5px; height:400px; overflow:auto" class= "color-dark border-main-1">
	        <font>
	        <font style="font-size: 150%; line-height: normal;">September 24, 2009</font>
            <br>Welcome!
            <br>
    	    <br><span style="font-size: 125%; line-height: normal;">Bug Fixes</span>
	        <br>1. Links in RSS feeds should now be working.
            <br>2. Re-correctly aligned the days and hours in the Hours area.
			<br>
    	    <br>
	        <font style="font-size: 150%; line-height: normal;">September 22, 2009</font>
            <br>Welcome!
            <br>
    	    <br><span style="font-size: 125%; line-height: normal;">Bug Fixes</span>
	        <br>1. Modified the More Info button to more closely reflect what it does - it is now called the Expand button. Also, while the display is expanded and you are in an area that the Expand button is not an option, the display returns to normal.
    	    <br>2. Correctly aligned the days and hours in the Hours area.
        	<br>3. The disappearing scrollbar has returned for all areas. The scrollbar now appears when it is needed.
            <br>4. The suggested articles in the My Library area now includes news and articles written today.
            <br>5. Catalog links found in the text of news, articles and events should now open the link in the dockable frame as intended.
			<br>
    	    <br>
        	<span style="font-size: 125%; line-height: normal;">New Features</span>
            <br>1. The list of required materials for the Black &amp; White Masquerade now has data.
			<br>
    	    <br>
        	<span style="font-size: 125%; line-height: normal;">Other</span>
	        <br>1. Adjusted the display area to show less data when the screen is smaller than 1024 x 768.
    	    <br>
    	    <br>
	        <span style="font-size: 125%; line-height: normal;">Known Issues</span>
    	    <br>1. Links with &amp; and &quot; may not all be working. These special characters sometimes appear in the titles of news, articles, events and materials.
			<br>2. The Write A Review link in the Materials area is not working. It has been removed and it should return, fully functional, in the next patch.
    	    <br>
    	    <br>
	        <font style="font-size: 150%; line-height: normal;">September 17, 2009</font>
            <br>Welcome!
            <br>
    	    <br><span style="font-size: 125%; line-height: normal;">Bug Fixes</span>
	        <br>1. Improved site navigation.
    	    <br>2. Reworked the client to make the site both load faster and work better in Internet Explorer.
        	<br>3. Greatly improved support for Internet Explorer 7 and 8.
	        <br>4. Links in articles are now easier to see and use.
			<br>
    	    <br>
        	<span style="font-size: 125%; line-height: normal;">New Features</span>
	        <br>1. Added many new themes, all of which can be found under Options.
    	    <br>2. Events at your home library now show on the My Library page.
        	<br>3. Recent news and articles now show on the My Library page.
	        <br>4. Update notes are now visible by clicking on Most Recent Update from the My Library page
        	<br>5. There are now RSS feeds for News, Events, and Materials.  Also, individual writers have their own RSS feed.
            <br>6. You can now filter News by Favorite.
            <br>7. You can now filter Events by Favorite, Anticipated, Summer Reading Program and Card Slider.
            <br>8. You can now filter Materials by Favorite, Watch List and Collection.
	        <br>9. Date selector has been vastly improved.  You can now select a date from a different month.  This feature is on News and Events.
    	    <br>10. It is now easier and faster to search the catalog.  Any link that has a <img src="/lapcat/layout/icons/cat-2.png" style="height:auto; width:auto;" /> cat icon next to it will take you directly to material in the catalog.
        	<br>11. There are now icons throughout the site to aid in navagation. The icons and the links with these icons will take you to that area of LAPCAT.
	        <br>
	        <br>
	        <span style="font-size: 125%; line-height: normal;">Known Issues</span>
    	    <br>1. In Internet Explorer and on the Create An Account sign-up page, the security-word box (CAPTCHA) has issues.
            <br>
            <br>
	        <span style="font-size: 125%; line-height: normal;">Feedback</span>
    	    <br>Found a bug or error? You can leave feedback, bugs and other issues at feedback@lapcat.org.
    	    <br>Thanks to everyone for their feedback! You help make the site better.
            <br>
			</font>
		</div>
	</div>
</page>