/* Font Colors */
a, font{color:#FFFFFF;}
.gold{color:#FFCC33;}
.grey{color:#777777;}
.med-grey{color:#555555;}
.dark-grey{color:#333333;}
.dark{background-image:url(/lapcat/layout/images/1-1-27.png); background-repeat:repeat;}
.darker{background-image:url(/lapcat/layout/images/1-1-52.png); background-repeat:repeat;}
.darkest{background-image:url(/lapcat/layout/images/1-1-52.png); background-repeat:repeat;}
.info-black{background-color:rgb(255,255,255); background-color:rgba(255,255,255,0.5); border:1px solid rgb(235,235,255); border:1px solid rgba(235,235,255,0.65);}
.hotkey{border:2px solid rgb(185,185,210); border:2px solid rgba(185,185,210,0.65); cursor:pointer;}
.hotkey:hover{border:2px solid rgb(25,215,25); border:2px solid rgba(25,215,25,0.65);}