@charset "utf-8";
/* CSS Document */

a:link {
        color: #5F3E12;
        text-decoration: none;
}
a:visited {
        text-decoration: none;
        color: #5A3C10;
}
a:hover {
        color: #004080;
}
a:active {
  text-decoration: none;
  color: #006600;
  text-align: left;
}

.about {
  width: 300px;
  font-family: sans-serif;
  font-size: large;
  font-weight: normal;
  color: #5A3C10;
  margin: 10px;
  padding: 10px;
  height: 500px;
}
.aboutleft {
  width: 290px;
  float:left;
  font-family: sans-serif;
  font-size: large;
  font-weight: normal;
  color: #5A3C10;
  color: #5A3C10;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin: 10px;
  padding: 10px;
  height: 440px;
  text-align: left;
}

.aboutmiddle {
  width: 290px;
  font-family: sans-serif;
  text-align: left;
  margin-left: 350px;
  border: thin solid #9CD39C;
  padding: 10px;
  margin-top: 10px;
  height: 450px;
  }
  
.aboutright {
  width: 290px;
  float:right;
  font-family: sans-serif;
  font-size: large;
  font-weight: normal;
  color: #5A3C10;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin: 10px;
  padding: 10px;
  height: 440px;
  text-align: left;
}
  
.addresses {
  width: 140px;
  height: 50px;
  float:left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  padding-top: 15px;
  color: #5F3E12;
}
.belleleft{
  float: left;
  width: 350px;
  text-align:left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  padding: 3px;

}
.bellemiddle {

height: 4350px;
}

.belleright{
float: right;
  width: 600px;
  text-align:left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  padding: 3px;

}
.blastoff{clear:both; height: 250px;
font-family: 'Buda' , sans-serif; 
  font-size: 24px;
}


body {
  background-image: url(images/bckgd.png);
  background-repeat: repeat-x;
}

.catalog {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 1023px;
  height: 70px;
  clear: both;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: sans-serif;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-top-color: #184510;
  border-right-color: #184510;
  border-bottom-color: #184510;
  border-left-color: #184510;
  font-size: large;
  font-weight: bold;
}


.center {
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.copyright {
  text-align:center;
  clear: both;
  font-family: sans-serif;
}

.databases {
  width: 480px;
  float:left;
  font-family:sans-serif;
  background-color: #FFF;
  padding-left: 10px;
  font-weight: bold;
  border: thin solid #9CD39C;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 5px;
  height: 1500px;
  text-align: left;
  color: #006600;
  }
  
.databasesmiddle {
  width: 1020px;
  font-family:sans-serif;
  background-color: #DAF3D6;
  font-weight: bold;
  border: thin solid #9CD39C;
  margin-top: 5px;
  margin-left: auto;
  text-align: left;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
  }
  
.downloadsleft {
  float:left;
  width: 500px;
  height: auto;
  text-align: left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin-bottom:10px;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}

.downloadsright {
  float:right;
  width: 450px;
  height: 180px;
  text-align: left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin-bottom:10px;
  vertical-align: middle;
  padding: 10px;
  
}

.ereaderleft{float:left;
  width: 450px;
  height: 400px;
  text-align: left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin-bottom:10px;
  vertical-align: middle;
  padding: 10px;
}

.ereaderright{float:right;
  width: 450px;
  height: 400px;
  text-align: left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin-bottom:10px;
  vertical-align: middle;
  padding: 10px;
}

.edresearchleft {
  float: left;
  width: 495px;
  text-align:left;
  background-color: #F1FAEF;
  border: thin solid #9CD39C;
  height: 1500px;
  padding: 2px;
}

.edresearchright {
  float: right;
  width: 495px;
  text-align:left;
  background-color: #F1FAEF;
  border: thin solid #9CD39C;
  height: 1500px;
  padding: 2px;
}
  
.footer {
  height: 150px;
  width: 1024px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  background-image: none;
  font-family:sans-serif;
  font-size: large;
  border: thin solid #1A4613;
  margin-top: 5px;
  text-align: center;
  background-color: #BDE1BD;
  font-weight: normal;
  padding-left: 2px;
  padding-bottom: 4px;
  border-radius: 3px;
  }
  
.footerleft {
  font-family: sans-serif;
  font-weight: bold;
  width: 1025px;
  margin-right: auto;
  margin-left: auto;
} 
.fun {
  text-align:center;
  width: 500px;
  float: left;
}

.genmiddle {
  width: 2px;
  height: 1000px;
  margin-bottom: 5px;
  padding: 3px;
}
.genright {
  background-color: #FFFFFF;
  height: 1000px;
  width: 650px;
  border: thin solid #1A4613;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
}
  
.genleft {
  background-color: #FFFFFF;
  height: 1000px;
  width: 300px;
  border: thin solid #1A4613;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
  float: left;
  padding: 5px;
  margin-right: 3px;
  margin-top: 3px;
  margin-left: 3px;
} 

.google{
  float: right;
}
.govleft{
  float:left;
  width: 400px;
  height: auto;
  text-align: left;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin-bottom:10px;
  vertical-align: middle;
  padding: 10px;
}

.govright{
  width: 400px;
  height: auto;
  background-color: #DEF3D6;
  border: thin solid #9CD39C;
  margin-bottom:10px;

  vertical-align: middle;
  padding: 10px;
  float: right;
}
.gpleft {
  width: 300px;
  float: left;
  height: 450px;
}

.gpmiddle {
  height: auto;
  padding: 5px;
  width: 325px;
  margin-left: 330px;
  background-color: #FFFFFF;
  border: thin solid #1A4613;
}
.gpright {
  float: right;
  width: 300px;
  padding: 5px;
  background-color: #BDE1BD;
  border: thin solid #1A4613;
  height: auto;
  margin-bottom: 5px;
}

.h1 { font-family: 'Dancing Script' , arial, serif; 
  font-size: 36px;
  font-weight: bold;}
  
.h11 { font-family: 'Dancing Script' , arial, serif; 
  font-size: 36px;
  text-align: center;
  font-weight: bold;}
  


h1,h2,h3,h4{
  font-family: 'Ubuntu' , sans-serif;
  text-align: center;
  color: rgb(95,62,18);
  margin:0;
  padding:0;
}
h1 {
  font-size: 48px;
}
h2 {  
  font-size: 64px;
}
h4 { font-family: 'Vollkorn', serif;
  font-size: 24px;
}

.laporte365{
  width:300px;
  height:300px;
  overflow:hidden;
}
.laporte365 section{
  display:inline-block;
  width:300px;
  height:300px;
}
.newestSlideWrapper {
    display: block;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
}


.classBanner{
  width:400px;
  height:100px;
  background:#0000CC;
  display:inline-block;
  float: left;
  margin: 0 1em 1em 0;
  border-radius:3px;
  overflow:hidden;
}
.classBannerContainer{
  display:inline-block;
  text-align:left;
}
.classBannerContainer h3{
  text-align:left;
}

.h24 { font-family: 'Calligraffitti', serif;
  font-size: 12px;
  text-align: center;
  }
  
.h26 {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 48px;
  text-align: center;
   }  
.header {
  text-align:left;
  margin-right:auto;
  margin-left:auto;
  background-position: center;
  margin-left: auto;
  width: 1025px;
  font-family:sans-serif;
  font-weight: bold;
}

.homeleft{
  width: 240px;
  float: left;
  background-color: #BDE1BD;
  border: thin solid #9CD39C;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 100%;
  border-radius: 3px;
}

.homeright {
  width: 240px;
  float: right;
  font-family:sans-serif;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: 3px;
  border: thin solid #9CD39C;
  border-radius: 5px;
  height: 100%;
}

.homemiddle {
  width: 350px;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3px;
}

.hoursleft {
  font-family: sans-serif;
  float: left;
  height: 100%;
  width: 250px;
  font-size: 14px;
}

.hoursmiddle {
  font-family: sans-serif;
  height: 500px;
  width: 300px;
  text-align: center;
}
.hoursright {
  font-family: sans-serif;
  float: right;
  height: 700px;
  width: 250px;
  font-size: 14px;
}

.kidsresearchleft {
  float: left;
  width: 495px;
  text-align:left;
  background-color: #F1FAEF;
  border: thin solid #9CD39C;
  height: 1600px;
  padding: 2px;
}


.kidsresearchmiddle {
  width: 4px;
  height: 1610px;
  
}

.kidsresearchright {
  float: right;
  width: 495px;
  text-align:left;
  background-color: #F1FAEF;
  border: thin solid #9CD39C;
  height: 1600px;
  padding: 2px;
}

.left {
  float: left;
}

.links {
  width: 480px;
  float: right;
  font-family:sans-serif;
  background-color: #FFF;
  border: thin solid #9CD39C;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
  height: 1500px;
  }
.localbody {
width: 1020px;
  font-family:sans-serif;
  background-color: #DAF3D6;
  font-weight: bold;
  border: thin solid #9CD39C;
  margin-top: 5px;
  margin-left: auto;
  text-align: left;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
} 
.localwrap {
  width: 500px;
  font-family:sans-serif;
  background-color: #FFFFFF;
  font-weight: bold;
  border: thin solid #9CD39C;
  margin-top: 5px;
  margin-left: auto;
  text-align: left;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 5px;
}
.maps { 
float: right;
}

.materials {
  font-family: sans-serif;
  font-size: medium;
  font-weight: normal;
  padding-right: 10px;
  padding-left: 10px;

}

.middle {
  width:1020px;
  margin-left:auto;
  margin-right:auto;
  height: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  background-repeat: no-repeat;
  background-position: center bottom;
  clear: both;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #1A4613;
  border-right-color: #1A4613;
  border-bottom-color: #1A4613;
  border-left-color: #1A4613;
  font-family: sans-serif;
  text-align: left;
  }
  
.mobile {
  width: 300px;
  height: 50px;
  margin-left:auto;
  margin-right: auto;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
}

.requestleft{
  float: left;
  width: 495px;
  text-align:left;
  background-color: #F1FAEF;
  border: thin solid #9CD39C;
  height: 250px;
  padding: 2px;
}

.requestright{
  float: right;
  width: 495px;
  text-align:left;
  background-color: #F1FAEF;
  border: thin solid #9CD39C;
  height: 250px;
  padding: 2px;
}


.researchmiddle {
  height: 1505px;
  }
.sitemapmiddle {
  width:1020px;
  margin-left:auto;
  margin-right:auto;
  height: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  background-repeat: no-repeat;
  background-position: center bottom;
  clear: both;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: #1A4613;
  border-right-color: #1A4613;
  border-bottom-color: #1A4613;
  border-left-color: #1A4613;
  font-family: sans-serif;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 25px; 
  }
.style1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
}

.style2 {color: #9CD39C}


.tabs {
  width: 75px;
  height:50px;
  background-image:url(images/tab100short.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
}
.tabs02 {
  width: 107px;
  height:50px;
  background-image:url(images/tab100.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
}
.tabs85 {
  width: 87px;
  height:50px;
  background-image:url(images/tab85.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
}

.tabs120 {
  width: 150px;
  height:100px;
  background-image:url(images/tab150.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
}
.tabsboarder {
  width: 1025px;
  margin-left:auto;
  margin-right:auto;
}
.tabsgreatpicks {
  width: 115px;
  height:50px;
  background-image:url(images/tab100short1.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
  clear:right;
}
.tabsright {
  width: 108px;
  height:50px;
  background-image:url(images/tab100short1.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
  clear:right;
}

.tabsrightend {
  width: 100px;
  height:50px;
  background-image:url(images/tab100.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
  clear: right;
}

.tabsrightgp {
  width: 112px;
  height:50px;
  background-image:url(images/tab100short1.png);
  float: left;
  background-repeat: no-repeat;
  background-position: center top;
  font-family:sans-serif;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  vertical-align: text-bottom;
  clear:right;
}
.middle {
  text-align: center;
}
