<div style="float:left; height:4px; width:100%;"></div>
<div class="color-X-1 corners-bottom-3 corners-top-3 fake-link effect-hover-F-1 light-up line-click" id="display-html-news" name="news/specific/browse/replace-ID" style="float:left; height:42px; text-align:center; width:100%;">
	<div class="background-alpha-3 border-sides-D-1 border-top-D-1 corners-top-2" style="height:19px; overflow:hidden; text-align:left; width:auto;">
		<table style="height:18px; width:100%;">
			<tr>
				<td style="height:18px; overflow:hidden; vertical-align:top; width:auto;">
					<a class="fake-click font-G" href="/quick/news/article/replace-ID" id="news" onfocus="javascript:this.blur();" style="float:left; font-size:15px; margin-left:6px; vertical-align:top;">replace-clean-name</a>
				</td>
				<td style="float:right; height:19px; width:auto;">
					<a class="tag-click fake-link font-bold font-L" id="value-replace-tag-ID" name="tag/drop" style="margin-right:3px;">replace-tag-name</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="background-alpha-3 border-sides-D-1 border-bottom-D-1 corners-bottom-2" style="height:21px; overflow:hidden; width:auto;">
		<div style="width:100%;">
			<div style="float:left; vertical-align:top; width:auto;">
				<font class="font-I" style="font-size:10px; margin-left:12px;">by</font>
				<font class="user-link-1 font-N" style="font-size:12px;">replace-username</font>
			</div>
			<div style="float:right; vertical-align:top; padding-right:6px; width:auto;">
				<a class="date-click fake-link font-G" id="replace-o-date" name="news" style="font-size:12px;">replace-date-words</a>
			</div>
		</div>
	</div>
</div>