<div id="display-html-100" style="float:left; height:155px; text-align:center; width:159px;">
	<div style="height:22px; overflow:hidden; text-align:center; width:100%;">
		<font class="font-X" style="font-size:12px;"><span class="browse-link fake-link" href="http://catalog.lapcat.org/search/ireplace-ISBNorSN" id="replace-dirty-name" name="materials" onfocus="javascript:this.blur();">replace-clean-name</span></font>
	</div>
	<div style="height:114px; overflow:hidden; text-align:center; width:100%;">
		<table style="height:114px; width:100%;"><tr><td style="vertical-align:top; width:auto;">
			<div style="height:114px; vertical-align:bottom; padding-right:5px;"><div class="browse-link fake-link" name="http://catalog.lapcat.org/search/ireplace-ISBNorSN" id="catalog-ISBN-link-replace-ID" onfocus="javascript:this.blur();" style="float:right;"><img id="suggestions-replace-ISBNorSN-cover" src="/lapcat/images/82-114-1.png" style="border:0; height:auto; width:auto;"/></div></div>
		</td><td style="vertical-align:top; width:40px;">
			<div id="suggestion-replace-ID-search" style="height:18px; width:18px;"><div class="browse-link fake-link" name="http://catalog.lapcat.org/search/ireplace-ISBNorSN" id="catalog-ISBN-link-replace-ID" onfocus="javascript:this.blur();" title="Click to open the catalog and show this material."><img src="/lapcat/layout/icons/cat-2.png" style="border:0; height:auto; width:auto;"/></div></div>
			<div id="suggestion-replace-ID-catalog-link" style="height:18px; margin-top:2px; width:18px;"><a href="/materials/specific/replace-ID/json/ajax" onfocus="javascript:this.blur();"><img src="http://cdn1.lapcat.org/famfamfam/silk/book_open.png" style="border:0; height:auto; width:auto;"/></a></div>
		</td></tr></table>
	</div>
</div>