<div id="display-html-databases" style="float:left; height:297px; text-align:center; padding-left:3px; padding-right:3px; width:auto;">
	<div class="corners-top-3 corners-bottom-3 border-sides-I-1 border-top-H-1 border-bottom-J-1" style="height:295px; overflow:hidden; text-align:left; width:100%;">
		<div class="color-X-1 corners-top-2 background-special-1" style="height:36px; width:auto;">
			<div class="color-B-1 database-dockable corners-bottom-2 corners-top-2 fake-link light-down effect-hover-F-1" name="replace-link_in" style="float:left; height:34px; line-height:90%; padding-top:2px; text-align:center; width:100%;" title="Click to use this database."><a class="font-bold font-G fake-click" id="databases" onfocus="javascript:this.blur();" style="font-size:14px; height:36px;">replace-clean-name</a></div>
		</div>
		<div style="float:left; height:243px; overflow:hidden; width:100%;">
			<table cellpadding="0" cellspacing="0" style="height:243px; width:100%;">
				<tr>
					<td colspan="3" class="color-X-1 background-special-1" style="height:1px;"></td>
				</tr>
				<tr>
					<td class="color-X-1 background-special-1" style="width:3px;"></td>
					<td class="border-sides-I-1 border-top-I-1 border-bottom-H-1 color-D-3 background-alpha-2" style="overflow:hidden; padding-left:6px; vertical-align:top; width:auto;">
						<font class="font-G" style="font-size:12px; margin-left:6px;">replace-description</font>
					</td>
					<td class="color-X-1 background-special-1" style="width:3px;"></td>
				</tr>
			</table>
		</div>
		<div class="color-X-1 background-special-1 corners-bottom-2" style="float:left; height:16px; width:100%;">
			<div class="fake-link move-to-click" id="databases" style="float:right; margin-top:-5px; z-index:8;"><img src="http://cdn1.lapcat.org/famfamfam/silk/database.png" style="height:16px; margin-right:3px; width:16px;" /></div>
			<font class="fake-link font-X move-to-click" id="databases" style="float:right; margin-right:6px; font-size:10px;">See Other Databases</font>
		</div>
	</div>
</div>