<div style="float:left; height:4px; width:100%;"></div>
<div class="color-K-2 corners-left-3 fake-link hover-effect light-up line-click" id="display-html-news" name="news/open-line/browse/replace-ID" style="float:left; height:42px; margin-left:6px; text-align:center; width:387px;">
	<div class="border-left-D-1 border-top-D-1 border-bottom-D-1 corners-left-2" id="browse-replace-ID" style="height:40px; width:auto;">
		<div style="height:19px; overflow:hidden; width:100%;">
			<font class="font-G float-left" id="browse-replace-ID-font" style="padding-left:3px; padding-right:3px;">replace-clean-name</font>
		</div>
		<div style="height:21px; overflow:hidden; width:auto;">
			<div style="width:100%;">
				<div style="float:right; vertical-align:top; padding-right:6px; width:auto;">
			<div id="line-group-icons-replace-ID" style="height:21px; overflow:hidden; width:386px;">
				<img id="icon-replace-ID-33" src="/lapcat/images/31-31-33.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-50" src="/lapcat/images/31-31-50.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-51" src="/lapcat/images/31-31-51.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-10" src="/lapcat/images/31-31-10.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-11" src="/lapcat/images/31-31-11.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-0" src="/lapcat/images/31-31-0.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-92" src="/lapcat/images/31-31-92.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
				<img id="icon-replace-ID-94" src="/lapcat/images/31-31-94.png" style="display:none; float:right; height:16px; width:16px; margin-right:3px;" title="" />
			</div>
				</div>
			</div>
		</div>
	</div>
</div>